[2017-12-01 05:26] sahilbansal17 opened #3 "Add Graph algorithms"
Implement the following **Elementary Graph Algorithms** taking reference from the Chapter 22 of the book **Introduction to Algorithms**
- [x] Breadth-first search
- [x] Depth-first search
- [x] Topological sort

[2018-05-30 14:15] sahilbansal17 opened #9 "Structure content"
Structure the folders in 5 categories:

1. Problem Solutions
2. Algorithm Implementations
3. Data Structures
4. Tricks and Templates
5. ACM-ICPC Notebook

[2018-05-30 14:28] sahilbansal17 opened #10 "Upsolving"
Upsolve the problems for the various contests that have been given most recently.
The workflow should be in the following order:
- [x] Codeforces **C problems** of the Div 2 contests
- [ ] All the problems in the **Educational Rounds** of Codeforces
- [ ] Complete problemset of the Hackerrank contests
- [ ] **Easy-Medium** level problems of the Topcoder contests
- [ ] **Codechef** Long Contests
-

[2018-05-30 14:55] sahilbansal17 opened #11 "Add Divide & Conquer algorithms"
Implement the following algorithms [take reference from MIT OCW 6-046 Spring 2015 Lectures] :
- [ ] Weighted Job Scheduling  [Lecture 1]
- [x] Closest Pair of Points [Related to Problem Set 1]
- [x] Convex Hull [Lecture 2]
- [x] Median Finding [Lecture 2]
- [ ] Strassen's Algorithm for Matrix multiplication [Recitation]

Each of them will be treated as a separate issue.
As you finish either of the

[2018-06-07 12:00] sahilbansal17 opened #12 "UVa Maximum Sub-sequence Product"
Use **Java BigInteger Library** to code this DP [problem](https://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=649&page=show_problem&problem=728).

[2018-06-08 08:29] ashish4321 commented on #3
I can add the code

[2018-06-11 05:29] #9 closed

[2018-06-11 16:58] sahilbansal17 opened #13 "Warmup Task - GSSoC"
Hi all,

This is the warmup task for you to just solve a few problems and add your solutions right here.

We can follow a common website [[Codeforces](https://www.codeforces.com)] to find problems for this task.
- Go to the **[Problemset](https://codeforces.com/problemset)** section of the site.
- Find a tag(topic) of your interest (e.g. *binary search*) and click on it.
- To sort the problems in

[2018-06-11 17:29] mohitj27 commented on #13
we have to find hard question and then solve it or solve any question irrespective of hard or easy or moderate type of difficulty.

[2018-06-11 17:37] sahilbansal17 commented on #13
@mohitj27 You can solve question of any level of difficulty, I just told to sort in increasing order of difficulty for convenience, also you can choose any topic.
But, try to write good readable code.

[2018-06-12 14:11] aganjali10 opened #19 "Adding a problem of codeforces"
#13

[2018-06-12 14:18] #19 closed

[2018-06-22 04:30] #10 closed

[2018-06-22 16:10] #13 closed

[2018-06-22 16:15] sahilbansal17 opened #28 "Array implementations"
- [x] Insertion, Deletion, Search (Linear, Binary)
- [x] Array doubling and its amortized complexity
- [x] Dynamic Arrays: Vector (STL)
Refer to [Data structures wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/Data-Structures).

[2018-06-22 16:18] sahilbansal17 opened #29 "List implementations"
- [x] Insertion, Deletion, Search, Reversal, Traversal
- [x] Doubly and circular linked list [working: @moulikcipherX ]
- [x] List implementations in STL(List, Forward List)

Refer to [Data structures wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/Data-Structures).

[2018-06-22 17:47] agarwalprashasti commented on #3
I want to contribute to this

[2018-06-22 18:04] Eunoia1729 commented on #3
I would like to contribute to this

[2018-06-22 18:05] Eunoia1729 commented on #29
I want to  contribute to this

[2018-06-22 18:09] Eunoia1729 commented on #28
I want to work on this

[2018-06-22 18:13] syedjahangirpeeran commented on #12
I would like to code it!

[2018-06-22 18:16] syedjahangirpeeran commented on #3
I would like to code it!

[2018-06-22 18:32] bscoolcoder commented on #3
I would like to contribute to it

[2018-06-23 01:56] h-sinha commented on #3
I would like to contribute to this

[2018-06-23 03:09] aayushinigam commented on #28
Can I take up this issue?

[2018-06-23 03:09] aayushinigam commented on #29
Can I take up this issue?

[2018-06-23 04:12] aditya81070 commented on #29
@aayushinigam surely you can take this issue

[2018-06-23 05:16] dhairyabaweja commented on #11
I would like to contribute!!

[2018-06-23 05:40] sourabh1031 commented on #28
I want like to work on this issue

[2018-06-23 05:41] sourabh1031 commented on #28
i would love to work on the issue

[2018-06-23 06:52] sarnava1 commented on #3
I would like to work on this.

[2018-06-23 06:52] sarnava1 commented on #28
I would like to work on this.

[2018-06-23 07:32] sahilbansal17 opened #34 "Minimum Spanning Tree"
Implement Minimum Spanning Tree algorithms:
- [x] Kruskal's algorithm [working: @Dhiraj240 ]
- [x] Prim's algorithm (Adjacency Matrix Implementation) [done: @tanvi15 ]
- [x] Prim's algorithm (Adjacency List Implementation)

Refer to [Algorithms](https://github.com/sahilbansal17/Competitive_Coding/wiki/Algorithms) wiki page.

[2018-06-23 07:38] frost-queen commented on #28
i would like to work on this issue

[2018-06-23 07:38] Dhiraj240 commented on #34
Can  i work on this issue?

[2018-06-23 07:41] aryan-harsh commented on #29
I want to contribute to this. Can i take u this issue?

[2018-06-23 07:43] tanvi15 commented on #34
I wish to work on this issue.
@Dhiraj240 you take one, I'll take the other?

[2018-06-23 07:43] aryan-harsh commented on #28
I would like to work on this

[2018-06-23 07:45] aryan-harsh commented on #3
i would like to work on this

[2018-06-23 07:48] frost-queen commented on #29
@aayushinigam  @aryan-harsh  can we divide up the work? there are three components we can take one each?

[2018-06-23 07:50] Dhiraj240 commented on #34
Okay fine @tanvi15

[2018-06-23 07:51] aryan-harsh commented on #29
@frost-queen sure.

[2018-06-23 07:53] frost-queen commented on #29
okay let's wait up for @aayushinigam , btw i would like to work upon the list implementations in STL

[2018-06-23 08:35] aayushinigam commented on #29
@frost-queen @aryan-harsh I don't mind.But let's first have a mentor's approval for this.Then we'll do this way.

[2018-06-23 08:39] sahilbansal17 commented on #34
Yes, its fine, one of you can implement *Kruskal's algorithm* and the other person can work on *Prim's algorithm*.

[2018-06-23 08:40] aryan-harsh commented on #3
i would like to work on this

[2018-06-23 08:41] sahilbansal17 commented on #29
Each of you can take one of the three tasks.

[2018-06-23 08:45] aryan-harsh commented on #29
i wish to take the first one,  Insertion, Deletion, Search, Reversal, Traversal
 @aayushinigam  you may take the second , Doubly and circular linked list
@frost-queen take the list implementation. (STL) .    Is that fine?

[2018-06-23 08:46] aayushinigam commented on #29
@aryan-harsh I would like work on doubly and circular linked lists. @frost-queen has already mentioned her preference. Are you okay with this?

[2018-06-23 08:47] aryan-harsh commented on #29
Sure, I am comfortable.  @aayushinigam  @frost-queen

[2018-06-23 08:47] frost-queen commented on #29
yeah that sounds good :+1:

[2018-06-23 08:51] sahilbansal17 commented on #29
OK fine. Now all three of you cannot claim any other issue until this is completed and merged. Please refer to the [GSSoC Wiki Page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC) if you haven't already.

[2018-06-23 08:51] shiv07tiwari commented on #28
I would like to work on this issue !

[2018-06-23 08:52] sahilbansal17 commented on #28
@Eunoia1729 @sourabh1031 @sarnava1 @shiv07tiwari
Please select one of the three tasks.

[2018-06-23 08:54] shiv07tiwari commented on #28
@sahilbansal17 I would like to work on the first task.

[2018-06-23 09:00] shiv07tiwari commented on #3
I would like to work on this project contributing to first and second tasks !

[2018-06-23 09:02] sahilbansal17 commented on #3
@shiv07tiwari Please go through the guidelines to contribute in [GSSoC wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC). You are allowed to take up only one issue at a time.

[2018-06-23 09:02] sahilbansal17 commented on #28
Yes, you can start working but then until this is complete, you can't take up any other issues, right?

[2018-06-23 09:03] shiv07tiwari commented on #3
@sahilbansal17 Okay. So can I start contributing on the last issue I commented on ?

[2018-06-23 09:04] sahilbansal17 commented on #3
Yes.

[2018-06-23 09:05] shiv07tiwari commented on #28
Ya sure, so I am working on the first task, thanks !

[2018-06-23 09:15] sarnava1 commented on #28
@sahilbansal17  I would like to work on the second task.

[2018-06-23 09:42] sarnava1 commented on #28
@sahilbansal17 can I write the discussions on the amortized time complexity in comments within the code itself?

[2018-06-23 10:06] Eunoia1729 commented on #28
@sahilbansal17 I can work on the first task.

[2018-06-23 10:38] sahilbansal17 commented on #28
@sarnava1 Yes sure.
@Eunoia1729 Fine.

[2018-06-23 10:40] sourabh1031 commented on #28
@sahilbansal17 Please assign first task to me

[2018-06-23 10:41] sahilbansal17 commented on #28
@sourabh1031 This issue is now claimed by others. Please pick some different issue or create another issue referring to the list in the Wiki for DS/Algos.

[2018-06-23 10:44] sourabh1031 commented on #3
@sahilbansal17 Can i work on this issue implementing first and second task

[2018-06-23 10:45] sahilbansal17 commented on #3
@sourabh1031 This issue has already been implemented.

[2018-06-23 10:53] Sandip75 opened #37 "Dijkstra's Algorithm"
I want to work on Dijkstra algorithm.

[2018-06-23 10:54] syedjahangirpeeran opened #38 "Strassen's Algorithm (Divide and Conquer)"
- [ ] Strassen's Algorithm for Matrix multiplication

[2018-06-23 10:59] sahilbansal17 commented on #38
@syedjahangirpeeran Please update the issue heading and description properly.

[2018-06-23 11:01] syedjahangirpeeran commented on #38
I would like to work on above algorithms.

[2018-06-23 11:03] sahilbansal17 commented on #38
@syedjahangirpeeran This is not a good way. All these algorithms are from different categories. I suggest you to create one issue at a time for a single algorithm.

[2018-06-23 11:04] sahilbansal17 commented on #38
@syedjahangirpeeran You can only take up one algorithm at a time. I have updated this issue accordingly. Is it fine?

[2018-06-23 11:05] syedjahangirpeeran commented on #38
Yes, Sure.

[2018-06-23 11:22] lavishsaluja opened #40 "Solve SPOJ Problems!"

[2018-06-23 11:27] sourabh1031 opened #41 "Implementation of trie data structure"
Trie is one of the useful data structures. I would like to implement it.

[2018-06-23 12:10] pritamnegi commented on #40
Can I work on this issue??

[2018-06-23 12:35] Eunoia1729 commented on #41
I would like to implement

[2018-06-23 12:37] sahilbansal17 commented on #41
@Eunoia1729 Please follow the guidelines, @sourabh1031 is already working on it!

[2018-06-23 12:48] #40 closed

[2018-06-23 13:11] pritamnegi commented on #11
Can i work on weighted job scheduling??

[2018-06-23 13:14] sahilbansal17 commented on #11
@pritamnegi There is already an PR for it as clearly visible above. Convex Hull and Closest Pair of points are left.

[2018-06-23 13:21] pritamnegi commented on #11
ok will try to work on convex hull

[2018-06-23 13:21] pritamnegi commented on #11
Ok then working on convex hull

[2018-06-23 13:30] lavishsaluja opened #45 "Add Sieve of Eratosthenes"
An algorithm to find the number of primes till a given number n.

[2018-06-23 13:30] lavishsaluja commented on #45
Working on this!

[2018-06-23 14:07] ighosh98 opened #47 "Matrix Exponentiation for Fibonacci Series"
Implementing a time-efficient algorithm to find the mod of the sum of the Fibonacci number ranging from the n<sup>th</sup> to the m<sup>th</sup> Fibonacci numbers using Matrix Exponentiation algorithm.

[2018-06-23 14:07] ighosh98 commented on #47
I would like to work on this issue.

[2018-06-23 14:10] shivhek25 opened #48 "Sorting algorithms."
- [x] Selection sort
- [x] Bubble Sort
- [x] Merge Sort
- [x] Counting sort
- [x] Heap Sort
- [x] Quick Sort
- [x] Radix Sort
- [x] Bucket Sort

[2018-06-23 14:12] dhairyabaweja commented on #29
Can I contribute to one of the subtasks of the issue?

[2018-06-23 14:15] dhairyabaweja commented on #48
I wish to contribute to this issue. Can I contribute @sahilbansal17 ?

[2018-06-23 14:16] dhairyakhale opened #49 "Binary Search Tree"
- [x] Insertion, Deletion, Traversal, Search
- [x] LCA Construction
- [ ] Height related operations

[2018-06-23 14:16] sahilbansal17 commented on #48
@dhairyabaweja Have you not gone through the guidelines in [GSSoC wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC) ?

[2018-06-23 14:31] dhairyakhale commented on #49
@sahilbansal17 does it have to include all insertion, deletion, traversal, reversal, search?

[2018-06-23 14:36] sahilbansal17 commented on #49
@dhairyakhale Since you issue only mentions traversal, I guess you are interested in implementing that only at the moment.

[2018-06-23 14:40] dhairyakhale commented on #49
But I'll have to include code for insertion in my program anyway, as I'll have to create a tree before traversing through it. If you want me to assign only traversal, I'll only explain the code of traversal and not of insertion. Will that be okay?

[2018-06-23 14:43] sahilbansal17 commented on #49
@dhairyakhale This is a self created and self-assigned issue, so you can work on as much possible. Try to make issue headings more clear and general. You can create sub-task lists inside the issue and complete each of them.

[2018-06-23 14:44] sahilbansal17 commented on #49
Also, we have created this Wiki for [Data Structures](https://github.com/sahilbansal17/Competitive_Coding/wiki/Data-Structures) just to help you create better issues and work on them. It already contains what all sub-tasks should be there for Binary Trees and BST.

[2018-06-23 14:45] dhairyakhale commented on #49
Okay I'll cover all the four sub-tasks.

[2018-06-23 14:58] shivhek25 commented on #48
Should I add all the possible sorting algorithms in one subdirectory itself or do it one by one in separate issues ? @sahilbansal17

[2018-06-23 14:59] dhairyabaweja commented on #48
I m sorry did I miss anything in the guidelines? @sahilbansal17

[2018-06-23 15:01] shivhek25 commented on #48
@dhairyabaweja According to the guidelines, you cannot work on an issue if someone else is already working on it. Since I opened the issue and I mentioned that I wish to work on it, I get a time span of 1-2 days to work on the issue and create a PR. If I dont, then the issue becomes available to you (or whoever comments first).

[2018-06-23 15:02] tanvi15 commented on #34
Now working on adjacency list implementation for Prim's algorithm

[2018-06-23 15:06] dhairyabaweja commented on #48
@shivhek25 I got it. Sorry for the inconvenience.

[2018-06-23 15:11] shivhek25 commented on #48
@dhairyabaweja Chill, its not an inconvenience on my part at all. :)
All the best !

[2018-06-23 15:14] dhairyabaweja opened #50 "Disjoint Set Union"
- [ ] Basic operations and complexity analysis [working : @mohitj27 ]
- [ ] Use in Graphs and related problems
- [ ] Path compression and Union by rank
- [ ] Complexity analysis (Advanced)

[2018-06-23 15:15] dhairyabaweja commented on #50
I want to add the basic operations and include the complexity analysis. @sahilbansal17 ?

[2018-06-23 15:21] sahilbansal17 commented on #48
@shivhek25 Just create a list of all sorting algorithm in this issue as sub-tasks as some other issues had it. Work on one at a time.

[2018-06-23 15:30] shiv07tiwari commented on #49
I would like to work on the second part of this issue ! @sahilbansal17

[2018-06-23 15:53] dhairyabaweja commented on #50
I m not working on any other issue presently. @sahilbansal17

[2018-06-23 16:33] jstjyoti commented on #48
Can I explain heap sort in my own way and why is it better to use can I explain with my document?

[2018-06-23 16:35] jstjyoti commented on #3
I want to contribute to first two.

[2018-06-23 17:40] shivhek25 commented on #48
Okay. I have added the list. Will points be given as 10 (cakewalk type) per algorithm or 10 points for the whole issue ?
@sahilbansal17

[2018-06-23 18:02] rishabhgarg25699 commented on #29
I implemented 2 files on linked list .But you do not add on it.Please add on it

[2018-06-23 19:19] shivhek25 opened #55 "Lower Bound, Upper Bound"
- [x] Lower Bound algorithm
- [x] Upper Bound algorithm

[2018-06-23 22:12] Anujg935 opened #57 "Different LinkedList reversing Techniques"
In LinkedList, many algorithms require to reverse the linked list.so it's the building block of many algorithms. I want to make 4 different methods of reversing the LinkedList some are recursive and some are iterative all have different complexity.
This helps students to learn about how to tackle the reversing problem of  LinkedList.
**Following are the different approaches:-**
**1. Recursive:-**

[2018-06-24 03:21] bscoolcoder opened #58 "Hashmap Implementation"
C++ code for:
Inserting a key in map
Searching for a key
Removing a key from map

[2018-06-24 03:22] bscoolcoder commented on #58
I will work on above issue

[2018-06-24 03:33] jstjyoti commented on #48
Hello Mentor,
I would suggest you to keep marking as 10 points per algorithm.

Thank you.

On Sat, 23 Jun 2018, 11:10 pm Shivam Singhal, <notifications@github.com>
wrote:

[2018-06-24 05:11] sahilbansal17 commented on #3
@jstjyoti This is already done. Please find yourself another topic to work on, create an issue if it already doesn't exit and start working. Read [GSSoC Wiki Page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC) thoroughly for Guidelines on contribution.

[2018-06-24 05:15] jstjyoti commented on #3
Sir,
I am working on & #48 sorting algorithm. Is it okay?

On Sun, 24 Jun 2018, 10:41 am Sahil, <notifications@github.com> wrote:

[2018-06-24 05:16] sahilbansal17 commented on #48
@jstjyoti Yes, you can start working on *Heap Sort*.

[2018-06-24 05:17] sahilbansal17 commented on #3
@jstjyoti Yes.

[2018-06-24 05:19] sahilbansal17 commented on #48
@shivhek25 @jstjyoti Please don't worry about the points. They would be given as per your work. Just keep learning and improving!

[2018-06-24 06:08] monsij opened #60 "Method of dynamic programming"
Being of the most valuable tool for problem-solving, I would like to contribute a code base for many problems where they can be applied as referred to in [Algorithms](https://github.com/sahilbansal17/Competitive_Coding/wiki/Algorithms) .

- [x] Traveling Salesman Problem
- [x] Longest Increasing Subsequence
- [x] Rod Cutting Problem
- [ ] Coin change problem
- [ ] Matrix Chain multiplication
- [x]

[2018-06-24 06:10] sahilbansal17 commented on #60
@monsij Sure, make a list of sub-tasks in the issue description in the following manner.
- [ ] Sub-task 1
- [ ] Sub-task 2

[2018-06-24 06:27] imkaka commented on #57
Please assign it to me.

[2018-06-24 06:28] sahilbansal17 commented on #57
@imkaka Please go through the [GSSoC wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC). Only one person can work on an issue at a time!

[2018-06-24 06:33] imkaka commented on #3
@sahilbansal17 I want to work on this! Please assign it.

[2018-06-24 06:36] sahilbansal17 commented on #3
@imkaka I think you have missed the conversations above. Please read them.

[2018-06-24 06:40] adi44 commented on #58
i would like to impliment Hashmap

[2018-06-24 06:41] sahilbansal17 commented on #58
@adi44 This issue is already claimed by @bscoolcoder . Please read the [GSSoC Wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC) if you haven't already.

[2018-06-24 06:59] #12 closed

[2018-06-24 07:07] jstjyoti opened #62 "Floyd-Warshall algorithm"
As I have completed my previous task .can I work on Floyed Warshall Algorithm for finding all possible shortest path in a given graph?

[2018-06-24 08:36] iamkaustubh1019 commented on #49
I will also like to work on this issue.

[2018-06-24 10:56] pritamnegi commented on #60
I want to contribute code for Longest Common Subsequence

[2018-06-24 12:57] Anujg935 commented on #57
I will also add the insert and print function of the linkedlist in this

[2018-06-24 14:47] imkaka opened #70 "Log(n) Power Function."
I want to work and explain the concepts about all possible Power algorithms. @sahilbansal17

[2018-06-24 16:50] shivhek25 commented on #55
- [ ] Lower Bound algorithm
- [ ] Upper Bound algorithm

[2018-06-24 21:24] Anujg935 opened #74 "MergeSort In linkedList"
In LinkedList data structure it becomes very difficult to sort it and further with a very good time complexity.MergeSort has good time complexity but for learners or students, it becomes very difficult to implement it in LinkedList. I will make 2-3 different functions to make students/learners understand different algorithms and finally use these functions in mergeSort.Therefore,
The following are

[2018-06-25 04:30] Sameeksha7 opened #75 "Segment Tree"
- [ ] Basics
- [ ] Complexity Analysis

[2018-06-25 05:46] aditya81070 commented on #75
@Sameeksha7  Please add subtask
### task1
- Basics
### task2
- Complexity Analysis

[2018-06-25 05:55] sahilbansal17 commented on #34
@tanvi15 Please confirm whether you are working on the adjacency list implementation!

[2018-06-25 05:56] aditya81070 commented on #75
@Sameeksha7  You can work on it.

[2018-06-25 05:58] sahilbansal17 commented on #49
@dhairyakhale It has been two days. Please finish ASAP.
@shiv07tiwari @iamkaustubh1019 Please discuss amongst each other and choose either of the sub-tasks 2 or 3.

[2018-06-25 06:02] sahilbansal17 commented on #70
@imkaka You can start working. No need to ask.

[2018-06-25 06:09] tanvi15 commented on #34
@sahilbansal17 yes, I was waiting for approval on the matrix implementation.

[2018-06-25 06:52] sahilbansal17 commented on #41
1. Yes, you can work on another issue.
2. We will close and merge the PR when 3 mentors approve it.

[2018-06-25 07:56] aditya81070 commented on #74
@Anujg935  you can start working on this.

[2018-06-25 09:06] Anujg935 commented on #74
please have a look at code

[2018-06-25 09:19] ighosh98 commented on #47
Merged

[2018-06-25 09:19] #47 closed

[2018-06-25 09:22] ighosh98 opened #79 "2-4 trees Implementation"
Implementation of basic operations and construction of the 2-4 tree.
- [ ] Insertion
- [ ] Deletion
- [ ] Search

[2018-06-25 09:22] ighosh98 commented on #79
I would like to work on this issue @sahilbansal17

[2018-06-25 10:07] sahilbansal17 commented on #79
@aditya81070 This is for `2 - 4 Trees` which are different from `Binary Search Trees`. I think you missed the issue description.

[2018-06-25 10:09] aditya81070 commented on #79
@sahilbansal17 sorry for this. I am totally unaware of this type of tree.

[2018-06-25 10:11] sahilbansal17 commented on #79
No problem.

[2018-06-25 10:22] dhairyakhale opened #81 "Construction of Graphs"
**Basics of Graph Theory**:
Construction of graphs via:
1. [ ] Adjacency List
2. [ ] Adjacency Matrix
3. [ ] Edge List

Also, provide the complexity analysis for each of them.

[2018-06-25 10:23] dhairyakhale commented on #81
I would like to take up this issue, if it hasn't been done before.

[2018-06-25 10:29] dhairyakhale commented on #81
I have to cover construction, basics and complexity analysis then?

[2018-06-25 10:30] sahilbansal17 commented on #81
Yup, updated the issue description.

[2018-06-25 13:05] #45 closed

[2018-06-25 13:15] monsij commented on #60
Can I add topics under than dynamic programming other than those mentioned in [Algorithms]? @sahilbansal17  @ramitsawhney27 (https://github.com/sahilbansal17/Competitive_Coding/wiki/Algorithms)

[2018-06-25 13:45] ramitsawhney27 opened #82 "Modified Fibonacci Sequence"
Defining the modified Fibonacci sequence as:

_F(n) = F(n-1) + 2F(n-2) + 3F(n-3)_
where, F(0) = 0, F(1) = 1, F(2) = 3

The following tasks have to complete for an entire score:
1. Write a function to return the nth modified Fibonacci number in less than O(n) time.
2. Write a function to print the first n modified Fibonacci numbers in O(n) time.
3. Clearly explain your solution, with proofs for how

[2018-06-25 13:51] ramitsawhney27 opened #83 "Pair sum problem in a Tree"
Given a balanced binary search tree (take a sample tree in your code) and a number x, your task is to determine if there exists a pair of nodes, such that their sum is equal to x. Every node contains a value, left ptr and right ptr.

The following tasks need to be done for an entire score:
1. Return the larger of the two numbers if there exists a pair, else -1 in time O(n).
2. Space taken should b

[2018-06-25 14:16] ighosh98 commented on #82
I would like to work on this @ramitsawhney27 .

[2018-06-25 14:17] lavishsaluja commented on #82
Working on this!

[2018-06-25 14:24] lavishsaluja opened #84 "Trailing zeroes in N!"
The program finds the number of trailing zeroes in the factorial of a given number.

[2018-06-25 14:28] ramitsawhney27 commented on #84
This is way too simple, not even an algorithmic problem I’d say. You can solve it, but we won’t be allotting any points for this.

[2018-06-25 14:29] #84 closed

[2018-06-25 14:38] ramitsawhney27 commented on #82
@ighosh98 go ahead.

[2018-06-25 14:41] lavishsaluja commented on #82
Aren't you already working on https://github.com/sahilbansal17/Competitive_Coding/issues/79? @ighosh98

[2018-06-25 14:45] ramitsawhney27 commented on #82
As per policy, we can have only one student working on one issue. @lavishsaluja you can work on this.

[2018-06-25 15:16] Anujg935 opened #85 "Finding the GCD of 2 numbers"
Greatest Common Divisor is one of the important algorithms in number theory it is used in many problems like prime numbers, cryptography etc.
I will make 2 algorithms for finding gcd of two numbers:-
- [x] Naive Algorithm (simplest approach) but very poor time complexity
- [x] Euclid's Algorithm (very fast approach)

please assign it to me so that I can start working on it as soon as possible.

[2018-06-25 15:19] Aashu24 commented on #37
Can I work on this or has it already been assigned to someone else?

[2018-06-25 15:40] sourabh1031 commented on #83
@ramitsawhney27 I will take up the issue

[2018-06-25 17:05] Aashu24 opened #87 "Coin problem"
Greedy Algorithm to find the minimum number of coins

Given a value V, if we want to make change for the amount V and we have infinite supply of each of the denominations in some currency say {1,2,5,10,20,50} (which will be taken as input from the user} valued coins/notes, what is the minimum number of coins and/or notes needed to make the change?

I will be implementing this algorithm in Java. Pl

[2018-06-25 21:44] shiv07tiwari commented on #49
@iamkaustubh1019  Can i start working on second issue while you work on the third issue ?

[2018-06-26 06:54] ramitsawhney27 commented on #83
@sourabh1031 go ahead.

[2018-06-26 06:55] ramitsawhney27 commented on #85
Sure go ahead.

[2018-06-26 06:56] ramitsawhney27 commented on #87
If you want points for this problem, it should have both the dp and greedy solution and a convincing answer for why and when the greedy algorithm works.

[2018-06-26 07:09] ashish4321 opened #89 "Balanced Parenthesis"
# Add Balanced parenthesis problem

[2018-06-26 07:13] ashish4321 commented on #89
I wish to work on this

[2018-06-26 07:35] sahilbansal17 commented on #75
This issue is open.

[2018-06-26 07:37] sahilbansal17 commented on #62
@jstjyoti Do you still want to take this issue? It has been two days. If you don't respond, this would be claimed by someone else.

[2018-06-26 07:37] sahilbansal17 commented on #60
Yes.

[2018-06-26 07:38] sahilbansal17 commented on #58
@bscoolcoder It has been 2 days. If you don't submit a PR today, it can be claimed by others.

[2018-06-26 07:44] h-sinha commented on #75
I'll work on this

[2018-06-26 07:52] aayushinigam commented on #29
Second task is up for grabs. I'm not working on it.

[2018-06-26 09:30] tanvi15 opened #92 "Backtracking - N queen problem"
Placing N chess queens on an N×N chessboard so that no two queens can attack each other.

[2018-06-26 09:38] ramitsawhney27 commented on #92
1. Start with this once your MST PR is accepted.
2. Modify this such that a queen can only attack a queen if it's in the range diagonally by 5 blocks, horizontally by 4 blocks and vertically by 3 blocks.

[2018-06-26 09:53] ramitsawhney27 opened #93 "Breaking a number into primes"
Given:
A positive integer n > 1.

Tasks:
1. Print a list of primes such that their sum is equal to n, maximize the number of primes in this list.
2. Add proper explanations and time complexity.

Samples:
2 - 2
4 - 2+2

[2018-06-26 09:58] #57 closed

[2018-06-26 09:58] #41 closed

[2018-06-26 10:42] ramitsawhney27 opened #94 "Islands in a Graph"
Given:
A grid of size n x m. Each cell is either Red or Blue. Red is denoted as * and . as Blue.
The entire grid is surrounded in blue.
A collection of blue cells surrounded by red on all sides is considered a pool.

Tasks:
1. Count the total number of pools in the grid.
2. Return the size of each of the pools in the grid.
3. Time and Space complexities for each of these operations.

Sample:
5 4

[2018-06-26 11:58] Anujg935 opened #95 "Tower Of Hanoi Problem"
In recursion Tower of Hanoi problem is very much important and gives the students a very good knowledge about how actually the recursion works.
Please assign it to me.

[2018-06-26 12:06] ramitsawhney27 commented on #95
Sure, so you get a good idea of how it works let's make some modifications:
1. Solve it iteratively.
2. Add time complexity analysis.
3. Solve the problem with the modification that you can not directly transfer any disk from the starting peg to the final peg without using the auxiliary peg.

Good luck!

[2018-06-26 12:18] bscoolcoder commented on #58
I will submit a PR by today.

[2018-06-26 12:45] ramitsawhney27 commented on #95
Solve the standard problem iteratively without any modification.
Solve the modified problem recursively.

[2018-06-26 12:47] pritamnegi commented on #55
What has to be exactly done in this issue??

[2018-06-26 13:42] moulikcipherX commented on #29
Can you please assign the second task.

[2018-06-26 13:43] sahilbansal17 commented on #29
@moulikcipherX Go ahead.

[2018-06-26 13:44] moulikcipherX commented on #29
Okay thanx

[2018-06-26 14:20] shivhek25 commented on #55
@sahilbansal17 I have the programs ready but I haven't pushed them because of the other issue.

[2018-06-26 14:45] moulikcipherX commented on #94
I think 4th row is incomplete

[2018-06-26 14:49] moulikcipherX commented on #93
We have to return no of primes to get sum or the digits also.

[2018-06-26 16:56] ramitsawhney27 commented on #93
Return the digits too.
This is now completed by @h-sinha.

[2018-06-26 16:56] #93 closed

[2018-06-26 17:56] h-sinha commented on #94
@ramitsawhney27 it would be really helpful if you update the fourth line of the test case

[2018-06-27 04:29] bscoolcoder commented on #81
Can I take this issue?

[2018-06-27 05:18] sahilbansal17 commented on #81
Yes

[2018-06-27 06:21] theexplorist opened #101 "Recursion Problems"
Hey, i want to add some recursion problems and their solutions ,can you assign me that task ?

[2018-06-27 06:30] sahilbansal17 commented on #101
@theexplorist Please specify the problems here as [Task list](https://blog.github.com/2014-04-28-task-lists-in-all-markdown-documents/).

[2018-06-27 06:35] theexplorist commented on #101
I want to work on counting the number of mazepaths possible from start to destination in a maze!

[2018-06-27 06:36] sahilbansal17 commented on #101
State the problem more precisely defining the maze.

[2018-06-27 06:40] theexplorist commented on #101
there is a n*n maze where suppose there is start point and an end point.The problem will be divided into two parts:-
1.we can move only vertical or horizontal.
2.we can move vertical,horizontal,diagonally.

then we have to count the number of possible paths in both the cases.

[2018-06-27 07:03] Aashu24 opened #102 "Subsequences of string questions"
Given a string, the problem is to generate all possible subsequences of that given string. I will be coding this in Java. I will like to give the following three solutions to this problem :

- [x] Return all subsequences of the String (Recursive approach)

- [x] Longest repeated subsequence problem via top down DP

Please assign these three tasks to me so that I can start working on them as soon a

[2018-06-27 07:19] ashubly25 commented on #29
May i work on second task?

[2018-06-27 07:28] sourabh1031 commented on #83
@ramitsawhney27 actually this can be done by two methods do i need to write both methods

[2018-06-27 08:09] ramitsawhney27 commented on #101
Modify this so that you can start anywhere from the leftmost column and end either at the middle(if odd) or middle two(if even) points on the rightmost column.

[2018-06-27 08:11] sahilbansal17 commented on #29
@ashubly25 It is taken up by @moulikcipherX. You can take up another issues.

[2018-06-27 11:02] ashubly25 commented on #29
sure. :)

[2018-06-27 12:38] ramitsawhney27 commented on #94
@h-sinha @moulikcipherX fixed.

[2018-06-27 12:41] ramitsawhney27 commented on #102
Just solve the first one, the other 2 are redundant. Along with this solve the longest repeated subsequence problem via **top down DP**, not bottom up.

[2018-06-27 12:48] ramitsawhney27 opened #103 "Modified LCS Problem"
Given:
n strings of length m consisting of only 'a' and 'b' as characters.
a hidden string of length m (this can be any string consisting of 'a' and 'b')

Tasks:
1. Calculate the **least** value of the Longest Common Subsequence of the given n strings and the hidden string.

Sample:
2 given strings:
ab
ba

The hidden string can be (aa,ab,ba,bb). The LCS for all cases is equal to 1. Hence the answe

[2018-06-27 13:40] h-sinha commented on #94
Shouldn't the number of pools be 1 in this case? As the '.' in 4th row has a '.' on one side.

[2018-06-27 13:42] theexplorist commented on #101
what is odd or even in maze when maze is n*n ! And you want destination point to vary!

[2018-06-27 14:22] ramitsawhney27 commented on #94
The two pools are in row 2 and row 4 of size 2 and 1 respectively. The one in the 5th row is not counted.

[2018-06-27 14:39] theexplorist commented on #101
In implementation i am not actually making a 2d grid , i am just making a function f(current column,current row, dest column, dest row).

[2018-06-27 15:10] Aashu24 commented on #102
@ramitsawhney27 Okay! I will start working on them

[2018-06-27 16:48] ramitsawhney27 commented on #101
If n is even then you have 4 rows and 4 columns. In this case you must end at (1,3) or (2,3) [0 based indexing]. If n is odd then you end at only (1,2). I hope this is clear.

[2018-06-27 16:57] mohitj27 commented on #103
I want to work on this problem. Please assigned to me this code

[2018-06-27 17:28] Sandip75 opened #105 "CrossWord"
Please assign it to me.

[2018-06-28 03:06] sahilbansal17 commented on #105
@Sandip75 Please describe the problem. If it is already taken up and/or similar to #101 , you need to take up something new.

[2018-06-28 03:32] #75 closed

[2018-06-28 04:49] sahilbansal17 opened #106 "STL implementations"
- Explaining the **most common** operations for STL implementations of each of the following data structures along with the time complexities involved for the operations, write well commented code following the [standards](https://github.com/sahilbansal17/Competitive_Coding/wiki/Coding-Standards).
- Take inputs from user wherever required via good prompts.

Make changes in the appropriate linked f

[2018-06-28 06:12] mohitj27 commented on #103
but i work on this issue this is against policy somebody else solve the problem before my given time gets over

[2018-06-28 07:09] mohitj27 commented on #103
okk

[2018-06-28 08:40] sourabh1031 commented on #106
@sahilbansal17 I would like to work for stack and queue both

[2018-06-28 09:30] sahilbansal17 commented on #106
@sourabh1031 Sure, you should start working.

[2018-06-28 09:42] #103 closed

[2018-06-28 09:43] #89 closed

[2018-06-28 11:13] ramitsawhney27 commented on #82
@lavishsaluja It's been 3 days, other students have been pinging me as well. Post 6 PM today, I'll make this accessible for anyone to send a PR to, and the quickest correct answer will get the points.

[2018-06-28 12:15] #87 closed

[2018-06-28 12:17] ramitsawhney27 commented on #82
@ighosh98 please feel free to start working on this.

[2018-06-28 13:05] #3 closed

[2018-06-28 13:07] sahilbansal17 commented on #11
Closest pair of points problem is yet to be claimed.

[2018-06-28 13:11] sahilbansal17 commented on #38
This issue can be claimed.

[2018-06-28 13:11] sahilbansal17 commented on #37
@Aashu24 Yes, you can work on it.

[2018-06-28 13:17] sahilbansal17 commented on #48
Last 3 sorting algorithms are yet to be claimed.

[2018-06-28 15:47] sahilbansal17 commented on #37
Yes, sure, @frost-queen you can start working on it.

[2018-06-28 15:49] Sandip75 commented on #105
It's similar I will find other Problem.

[2018-06-28 15:58] Aashu24 commented on #37
@sahilbansal17 You told me to start working on this issue today and now you told @frost-queen to work on this issue. Can two people work on the same issue?

[2018-06-28 16:00] Sandip75 commented on #105
![image](https://user-images.githubusercontent.com/29688336/42045457-362ec16a-7b19-11e8-9359-533ebec611d9.png)

Here I find other Problem ( Crossword )
1. Where I am given an array of ( n * m ) size.
    In array  0 and 1 Values are set. If we get 0 its means char can be placed and 1 Its must be empty.
 2. We have an array which contains string values

We have to place array string values in the f

[2018-06-28 16:10] sahilbansal17 commented on #37
Okay then @Aashu24 you work on it. @frost-queen Please take another issue since @Aashu24 already claimed earlier.

[2018-06-28 16:10] Aashu24 commented on #37
@sahilbansal17 Alright!

[2018-06-28 16:49] lavishsaluja commented on #106
Working on Priority-Queue!

[2018-06-28 17:09] ramitsawhney27 commented on #105
@Sandip75 where did you find this question?

[2018-06-28 17:15] Sandip75 commented on #105
college coding competitions in DTU last year

[2018-06-28 17:15] lavishsaluja commented on #94
@ramitsawhney27 Will like to work on this!

[2018-06-28 17:26] jstjyoti opened #114 "Floyed Warshall(finding all possible shortest path of a graph) Algorithm"
Can I work on Floyed Warshall(finding all possible shortest path of a graph) Algorithm?

[2018-06-28 17:29] sahilbansal17 commented on #114
Yes, go ahead.

[2018-06-28 17:31] sahilbansal17 commented on #114
Issue #62 already existed for the same. You should not create new issues if one already exists.

[2018-06-28 17:32] jstjyoti commented on #114
okay I am closing this and joining that issue. Kindly assign that to me.

[2018-06-28 17:32] #114 closed

[2018-06-28 17:34] sahilbansal17 commented on #62
@jsjyoti You can start working on this.

[2018-06-28 17:36] jstjyoti commented on #62
Yes, I am starting.

On 28 Jun 2018 11:04 pm, "Sahil" <notifications@github.com> wrote:

@jsjyoti You can start working on this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/sahilbansal17/Competitive_Coding/issues/62#issuecomment-401114262>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AkMjIoG70a-

[2018-06-28 17:37] frost-queen commented on #62
i would like to work on this issue

[2018-06-28 18:04] frost-queen opened #115 "kadane's algorithm implementation"
Finding the maximum contiguous sum in an array.

[2018-06-28 18:06] frost-queen commented on #115
Can i work on this issue?

[2018-06-28 18:12] sahilbansal17 commented on #115
Yes, go ahead.

On Thu, Jun 28, 2018, 23:36 frost-queen <notifications@github.com> wrote:

[2018-06-28 18:19] sahilbansal17 commented on #115
Make the followibg modification:
1. If there are more than two segments with maximum contiguous sum, find the one with smaller length.
2. To break ties within the smallest maximum sum segments, choose the one with lowest index.

Do this with the best possible time and space complexities.

[2018-06-29 03:48] h-sinha opened #116 "Lazy Propagation in Segment Tree"
Performing range update in segment tree using lazy propagation

[2018-06-29 03:49] h-sinha commented on #116
Working on this issue

[2018-06-29 04:12] h-sinha commented on #116
@sahilbansal17 should I include the complexity of segment tree formation in this file too?

[2018-06-29 05:17] theexplorist commented on #101
The code is complete , i have used backtracking in it, now what is the procedure to pull request ?

[2018-06-29 05:46] sahilbansal17 commented on #116
@h-sinha Just include explanations for all that is not in the previous **Segment Tree** code.

[2018-06-29 08:19] sahilbansal17 commented on #62
@jstjyoti Please make further changes in [this](https://github.com/sahilbansal17/Competitive_Coding/blob/master/Algorithms/Graphs/Floyd-Warshall/floyd_warshall.c) file for this issue. Your raw code got merged from the previous PR. From next time, refrain from sending PR until you have completed the code. Also, follow the [github workflow](https://github.com/sahilbansal17/Competitive_Coding/wiki/GS

[2018-06-29 11:13] shivhek25 opened #118 "Sliding window algorithm"
I would like to work on the sliding window algorithm.
I'll be taking up the problem of calculating the max consecutive sum in an array such that it is less than or equal to an entered number.

[2018-06-29 12:36] rishabhgarg25699 commented on #62
Can i also work on this issue??
My previous PR  is not completed and I  am unable to fulfill that PR.
So I want to take this PR.

[2018-06-29 12:37] sahilbansal17 commented on #62
@rishabhgarg25699 This has been taken up. You can find other issues or create an issue for something that has not been implemented following the guidelines in [GSSoC wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC).

[2018-06-29 13:28] ramitsawhney27 commented on #101
You can count the number of paths using DP/memoization as well. Please add that to the solution as well.

[2018-06-29 13:44] shreyateeza commented on #106
@sahilbansal17 I want to work on Height-balanced trees.

[2018-06-29 13:48] lavishsaluja commented on #118
@shivhek25 What is the entered number here? (the length of that sub-array?) Also Isn't this similar to https://github.com/sahilbansal17/Competitive_Coding/issues/115

[2018-06-29 14:30] #82 closed

[2018-06-29 15:17] Sandip75 commented on #105
@sahilbansal17 @ramitsawhney27
should I do or Not?

[2018-06-29 16:05] #58 closed

[2018-06-29 16:06] sahilbansal17 commented on #49
@shiv07tiwari You can start working on the 2nd sub-task.

[2018-06-29 16:08] sahilbansal17 commented on #29
@moulikcipherX It has been two days, If you don't send a PR by tomorrow, it will be assigned to @ashubly25.

[2018-06-29 16:38] jstjyoti commented on #62
``
#include<stdio.h>
#include<stdlib.h>
//Name- Jyoti Mishra(@jstjyoti)
//E mail-jyotimishra29091997@gmail.com
/*Floyed Warshall algorithm is a algorithm which can give all possible shortest part from a given source vertex to a given destination vertex,
in a graph containing negative or positive weighted edges and not having any negative weight cycle(a cycle of graph resulting negative weight as w

[2018-06-29 16:52] moulikcipherX commented on #29
Sorry for Late submission.
Can you tell me which functions we have to implement?
@sahilbansal17

[2018-06-29 16:54] shivhek25 commented on #118
It can be any random number, for which the max consecutive sum should be less than or equal to it.
Now, thats different because that algorithm involves positive and negative numbers to be calculated for max condition. Here, a dp technique will be implemented to find that particular consecutive set of elements which will have sum less than or equal to the entered number.

[2018-06-29 19:20] bscoolcoder commented on #81
@sahilbansal17 pls assign this issue to someone else

[2018-06-30 06:08] Aashu24 commented on #37
@sahilbansal17 I am done with the code. I'll write the explanations and create a pull request by today evening.

[2018-06-30 11:22] sourabh1031 opened #124 "Heap data structure"
@sahilbansal17  @ramitsawhney27 I want to work on this as a whole including heap sort please assign it to me

[2018-06-30 11:31] sourabh1031 commented on #124
@sahilbansal17 okay can i do implementations of heap data structure

[2018-06-30 11:36] sahilbansal17 commented on #124
The following things can be implemented:
- [ ] Insertion, Deletion, Traversal along with well explained complexities
- [ ] Building heap from an array with the complexity of `O(N)` along with proof complexity.
- [ ] An efficient linear time algorithm for merging two binary heaps.

First two task are for 10 points in total and last one is for 20 points.
@ramitsawhney27 Please make modifications if

[2018-06-30 11:37] sahilbansal17 commented on #105
@ramitsawhney27 Please confirm.

[2018-06-30 11:37] sourabh1031 commented on #124
Can i take all the issues ?

[2018-06-30 11:38] sahilbansal17 commented on #124
Yes sure.

[2018-06-30 11:38] #116 closed

[2018-06-30 11:40] sahilbansal17 commented on #115
@frost-queen Please confirm if you are still working, two days have gone by.

[2018-06-30 11:41] frost-queen commented on #115
Yes I am working . I will be submitting the PR soon

[2018-06-30 12:05] Dhiraj240 commented on #83
@sahilbansal17 @ramitsawhney27 can i work on this issue.Is everyone allowed to submit PR for the challenged label issues?

[2018-06-30 12:10] sahilbansal17 commented on #83
Yes

[2018-06-30 16:18] ramitsawhney27 commented on #105
Go ahead, good luck! :)

[2018-06-30 19:32] #92 closed

[2018-07-01 06:00] frost-queen commented on #60
I want to work on matrix chain multiplication.Can I proceed?

[2018-07-01 06:01] sahilbansal17 commented on #60
@frost-queen Yes, sure.

[2018-07-01 06:28] tanvi15 commented on #94
Yeah I meant to ask whether it has been solved already or not

[2018-07-01 08:21] #55 closed

[2018-07-01 08:39] #102 closed

[2018-07-01 08:39] #85 closed

[2018-07-01 08:39] #34 closed

[2018-07-01 08:40] #37 closed

[2018-07-01 08:40] #118 closed

[2018-07-01 08:40] #115 closed

[2018-07-01 08:42] sahilbansal17 commented on #101
@theexplorist Send a PR mentioning the issue no. Kindly don't send PR from master branch directly, create a new branch, commit the changes and then send a PR, so that its easier to sync changes later. Follow the [github workflow](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC#github-workflow) and the [general guidelines](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSo

[2018-07-01 08:43] #81 closed

[2018-07-01 08:44] #79 closed

[2018-07-01 08:44] #74 closed

[2018-07-01 08:45] #70 closed

[2018-07-01 08:45] #62 closed

[2018-07-01 08:46] sahilbansal17 commented on #95
@Anujg935 Please start working on it soon.

[2018-07-01 08:47] Aashu24 opened #132 "Edit distance problem"
Given two strings, we have to find the minimum number of operations (edits) that can be performed on the strings to make them both equal. The following operations can be performed on the strings:
1. Inserting a character
2. Removing a character
3. Replacing a character with some other character

I would like to work on this problem in Java. Please assign it to me.

[2018-07-01 09:02] sahilbansal17 commented on #132
Modify this problem as follows:
Convert the string into a palindrome with the minimum **COST**. You are allowed to do all the three operations mentioned above.
- Operation *i* takes *i* units of cost, i.e. inserting a character would take 1 unit of cost.

for e.g.: **abddea** can be converted to **abeddeba** using two insertions (cost 2), or to **abddba** using one replace (cost 3), ...
So, you ha

[2018-07-01 09:04] #38 closed

[2018-07-01 09:05] #29 closed

[2018-07-01 09:06] Aashu24 commented on #132
@sahilbansal17 Okay!

[2018-07-01 09:14] Anujg935 commented on #95
It's almost done only one or two things are left

[2018-07-01 09:22] Joycevarg commented on #132
I would like to work on this issue.Ping me if it is ever again going to be free.

[2018-07-01 09:44] ramitsawhney27 commented on #94
Not yet

[2018-07-01 15:00] jstjyoti opened #133 "Fractional Knapsack(Greedy Algorithm)"
### **Fractional Knapsack Problem**:
- We are given n number of Objects and a Knapsack(bag) of capacity 'm'.
- each object has different weights 'w_i_'  and profit 'p_i_'
- if a fraction 'x_i_' of object i is placed into the knapsack then profit earn is 'p_i_*x_i_'
Our Objective is to fill the knapsack such that the profit is maximum.

I want to solve this problem using Greedy algorithm.

[2018-07-01 15:05] jstjyoti commented on #60
can i work on matrix chain multiplication ordering?

[2018-07-01 15:06] shivhek25 opened #134 "0-1 Knapsack Algorithm (Dynamic Programming)"
I would like to work on the 0-1 knapsack algorithm based on dynamic programming.

[2018-07-01 18:57] ramitsawhney27 commented on #134
Modify this by taking as input a positive integer k, such that while maximizing profit within the weight limit, you select at max k items.

[2018-07-01 19:01] ramitsawhney27 commented on #133
1. Give a proper proof as to why the greedy solution works here and not for 0-1 Knapsack problem.
2. Modify this so you take a value v[i] for each item i that acts as a multiplier to the profit as:
for fraction x_i of object i, the profit will now be: p_i * x_i * (v_i * (x_i)^2). Also, show that if the greedy solution works for this. if not, solve using DP.

[2018-07-01 19:32] ramitsawhney27 commented on #94
I just realized, markdown messes up how it's being shown. Something to do with the \ and *. I've edited it. Ideally, the . should be on the 3rd column in the 4th row. Then the solution is correct for what was given previously.

[2018-07-01 19:35] tanvi15 commented on #94
Okay, and diagonally blue is okay for a pool?

[2018-07-02 01:30] jstjyoti commented on #133
Greedy approach gives a solution for optimization Problem and always makes a choice which seems best at that moment and adds it to current subsolution . Final Output is optimal having maximum profit .
Greedy algorithm don't always yield optimal solution but,
when they do,they are usually the simplest and most efficient algorithms available.

the problems in fractional knapsack is to
- n items
- fr

[2018-07-02 01:32] jstjyoti commented on #133
Should I write the explanation and add two files (fractional Knapsack and value multiplier fractional kapsack)
and explain all the way for using greedy method in codes as well?

[2018-07-02 03:13] sahilbansal17 commented on #49
@shiv07tiwari Not just height, you need to add functions for more similar operations, like **diameter** of the tree, and also the **Least common ancestor**.

[2018-07-02 05:18] ramitsawhney27 commented on #94
Just keep it as up down left right (4-connectivity) for simplicity.

[2018-07-02 06:38] ramitsawhney27 commented on #133
@jstjyoti yes please.

[2018-07-02 06:42] ramitsawhney27 commented on #94
This is solved, closing it.

[2018-07-02 06:42] #94 closed

[2018-07-02 07:26] tanvi15 opened #136 "Subtrees or not?"
To check whether a binary tree is a subtree of another given binary tree or not.

[2018-07-02 12:47] #124 closed

[2018-07-02 14:14] shivhek25 commented on #134
Okay, I'll send in the algorithm soon.

[2018-07-02 20:18] Anujg935 opened #142 "Implementation Of Stack Data structure"
Stack is useful and a basic data structure. However, there are some different ways to implement it.I want' to implement Stack following ways:-
Both the ways are a **generic programmed**(i.e not for any specific data type ,student will also learn about the practical use of template in this datastructure)
- [ ]  **Stack Using Dynamic Array**(i.e implementig stack using array without amy memory issue

[2018-07-03 10:48] #95 closed

[2018-07-03 10:52] #133 closed

[2018-07-03 10:55] #134 closed

[2018-07-03 10:55] #136 closed

[2018-07-03 14:23] Anjali2901 commented on #48
Can I work on Bucket Sort Algorithm ?

[2018-07-03 14:25] sahilbansal17 commented on #48
Yes sure. @Anjali2901

[2018-07-03 15:05] Anujg935 opened #147 "Implementation Of Queue Data structure"
A queue is useful and a basic data structure. However, there are some different ways to implement it. I want' to implement queue following ways:-
Both the ways are a generic programmed(i.e not for any specific data type,  student will also learn about the practical use of template in this data structure)

- [x] Queue Using Dynamic Array(i.e implementing a queue using the array without any memory i

[2018-07-03 15:13] jstjyoti commented on #147
I want to  work on Queue using Linked List

[2018-07-03 15:28] tanvi15 opened #148 "To convert linked list to BST"

[2018-07-03 15:33] jstjyoti commented on #48
Can I work on Quick Sort?

[2018-07-03 15:46] Anujg935 commented on #147
only the creator of the issue will be assigned the issue.

[2018-07-03 16:38] lavishsaluja commented on #48
Okay, Radix Sort then.
@jstjyoti Actually, It's almost done. https://github.com/sahilbansal17/Competitive_Coding/pull/140

[2018-07-03 16:47] jstjyoti opened #150 "Bellmanford Algorithm"
**Problem**
Single source shortest path from Source vertex to all other vertex on a graph(directed or undirected )
having positive or/and negative weighted edges and strictly not having any negative weight Cycle(a cycle in a graph resulting a negative weight as whole).

I want to solve this problem Using Bellmanford Algorithm ,a Dynamic Programming Algorithm

[2018-07-03 17:20] h-sinha opened #151 "Finding LCA in rooted trees"
- [ ] Brute Force

- [ ] Using Euler Tour and Range Minimum Query

- [ ] Binary Lifting

[2018-07-03 17:24] h-sinha commented on #151
I would like to work on the 2nd subtask first

[2018-07-03 17:31] jstjyoti commented on #151
I would love to work on 3rd subtask (Binary Lifting) if you will say @h-sinha

[2018-07-03 17:36] h-sinha commented on #151
Sure,go ahead @jstjyoti

[2018-07-03 17:39] jstjyoti commented on #151
Thank you, I am starting working on this.

On Tue, 3 Jul 2018, 11:06 pm Harsh, <notifications@github.com> wrote:

[2018-07-03 20:00] shivhek25 commented on #28
@sahilbansal17 I would like to work on the first sub-task.

[2018-07-03 20:13] shivhek25 opened #153 "Minimum cost algorithm"
I would like to work on a DP based approach to calculate the minimum cost in a 2D array when moving from (0,0) to destination such that we can only move down, right or diagonally (down-right).

[2018-07-04 04:50] Sandip75 opened #154 "Sieve of Eratosthenes"
Algorithm for finding all prime numbers
@sahilbansal17 can I work on this algorithm.

[2018-07-04 04:52] sahilbansal17 commented on #154
This has already been done.

[2018-07-04 04:52] #154 closed

[2018-07-04 05:06] Sandip75 commented on #92
Can I work on it?

[2018-07-04 05:15] Sandip75 opened #155 "Find unique element in given array"
1. we are given an array of size n
2. for example, this is an array [5, 8, 9, 5, 9, 7, 8 ]
     In this 7 is not duplicate So we need to find this number with O(n).

[2018-07-04 10:12] Aashu24 opened #157 "Find subsets of an array with target sum"
Given an array of n numbers and a target sum, the problem is to print all the subsets of that array whose elements sum to the target sum. For eg.- For the array {1,2,3} and the target sum = 3, the subsets will be {1,2} and {3}.

I would like to work on this problem in Java.

[2018-07-04 11:06] sourabh1031 commented on #106
@sahilbansal17 can i work on height balanced trees as there has not been any pr made so far

[2018-07-04 11:07] #148 closed

[2018-07-04 11:09] shreyateeza commented on #106
@sourabh1031 Please go ahead as currently I am not working on this issue. :)

[2018-07-04 13:45] rishabhgarg25699 opened #161 "Find smallest sum in an array?"
We are given a sequence a1, a2, ..., aN. We have to find the smallest possible value of ai + aj ,
 where 1 ≤ i < j ≤ N. We have also given the size of array.

Exanple   No. of elements 5
                     {3,2,5,7,1)
Ans       3
HINT (2+1)

[2018-07-04 14:03] lavishsaluja commented on #48
Not working on Radix. Up for Grabs!

[2018-07-04 14:49] rishabhgarg25699 commented on #161
I have uploaded the answer of this question on algorithms and Computational-Geometry folder.
Please review it.

[2018-07-04 15:11] ramitsawhney27 commented on #161
Please wait for mentors to approve issues before solving them.
A few points:
1. This problem is fairly simple and we would not award any points for this.
2. You should send a PR to the repo rather along with uploading it to your local copy.
3. Why is this in the computational geometry folder?
4. This can be solved in a time complexity better than O(n^2).

[2018-07-04 15:11] #161 closed

[2018-07-04 15:13] ramitsawhney27 commented on #157
Instead of this, solve the subset sum problem (can google it), and instead of returning a boolean value in that, return 1 if possible, or the minimum difference possible if not possible.

[2018-07-04 15:15] ramitsawhney27 commented on #153
Modify this such that:
1. You can start anywhere.
2. Moves allowed are up, down, diagonal left and diagonal right.

[2018-07-04 16:09] rishabhgarg25699 opened #162 "Implementation of Red Black Tree"
Red Black Tree is a useful data structure which has various implementations.
I want to implement various functions in a single program.

[2018-07-04 17:34] rishabhgarg25699 commented on #162
The functions are
1 Insert
2 Search
3 Delete
4 Rotate Left
5 Rotate Right
6 Inorder Traversal
7 Dispaly

[2018-07-04 17:55] sourabh1031 commented on #106
@sahilbansal17 i am working on remaining two

[2018-07-04 18:37] tanvi15 opened #165 "Add two numbers whose digits are stored in two linked lists"

[2018-07-04 19:10] Anjali2901 commented on #155
Can I work on it ?

[2018-07-04 20:17] Anujg935 opened #167 "Print Keypad Combinations Code (Recursive Problem)"
### **Print Keypad Combinations Code**
Given an integer n, using phone keypad find out and print all the possible strings that can be made using digits of input n.
**Note :** The order of strings are not important. Just print different strings in new lines.

**Input Format :**
`Integer n`
**Output Format :**
`All possible strings in different lines`
**Constraints :**
`1 <= n <= 10^6`
**Sample Inpu

[2018-07-05 03:18] pritamnegi commented on #11
I would like to work on closest pair of points. Can i work on it??

[2018-07-05 07:25] jstjyoti opened #171 "Sprial Pattern"
**Problem**
Print the following pattern: for any integer n(number of lines) input by the user
for input n=5,
output
1    2    3     4    5
16  17  18  19   6
15  24  25  20   7
14  23  22  21   8
13  12  11  10   9

for input  n=3,
output:
1    2    3
8    9    4
7    6    5

Explanation: This is a spiral pattern asked in many competitive coding or coding interviews .
I want to implment this using

[2018-07-05 12:02] jstjyoti opened #172 "Hills and Valleys(Codechef)"
**Problem:**
Chef has N numbers from 1 to N. He calls an array of integers special if the elements initially increase then decrease or the other way i.e. initially decrease then increase. He is fasinated by such arrays as he feels that they represent hills and valleys! Given the numbers that the chef has find the number of special arrays he can form using all the numbers 1 to N.
**Input**
First li

[2018-07-05 12:09] jstjyoti commented on #171
Solved in PR #170

[2018-07-05 12:13] ramitsawhney27 commented on #165
Modify to multiply the two numbers.

[2018-07-05 12:14] ramitsawhney27 commented on #172
Doesn’t make sense to directly do this. You could always submit it on codechef anyway. Not sure what you get to learn vis GSSoC through this.

[2018-07-05 12:45] sahilbansal17 commented on #11
@pritamnegi Sure, go ahead.

[2018-07-05 12:56] #101 closed

[2018-07-05 12:56] #105 closed

[2018-07-05 12:56] #142 closed

[2018-07-05 12:57] #147 closed

[2018-07-05 12:57] #155 closed

[2018-07-05 12:57] #132 closed

[2018-07-05 12:58] #150 closed

[2018-07-05 13:00] sahilbansal17 commented on #167
This is an easy problem that is available on some online platform, so can't be accepted.

[2018-07-05 13:00] #167 closed

[2018-07-05 13:02] sahilbansal17 commented on #171
@jstjyoti You should wait for confirmation from mentors for issues related to some specific problem solutions (not direct DS/Algo implementations) since they might not be awarded points. Be careful from next time.

[2018-07-05 13:02] #171 closed

[2018-07-05 13:03] #172 closed

[2018-07-05 13:39] Anujg935 opened #173 "Modifying Given Algorithm to reduce time complexity"
### Majority Element
**Problem Introduction**
Majority rule is a decision rule that selects the alternative which has a majority,
that is more than half the votes.
Given a sequence of elements a1, a2, . . , an, you would like to check whether
it contains an element that appears more than n/2 times. A naive way to do
this is the following.
`MajorityElement(a1, a2, . . . , an)
for i from 1 to n

[2018-07-05 14:04] sahilbansal17 commented on #173
@Anujg935 Its better if you don't post problems from websites directly here. Create issues for Algos/DS/standard problems or for some problem not directly taken from anywhere else.

[2018-07-05 14:04] #173 closed

[2018-07-05 14:32] jstjyoti opened #176 "Multiply two n bit Number in less than O(n^2) Complexity:Karatsuba algorithm"
A program to multiply two n binary number (input in y form) in a complexity less than O(n^2).
Karatsuba algorithm is a Divide and conquer algorithm for this problem.

I want to implement this algorithm .

[2018-07-05 14:53] Anujg935 opened #177 "Searching algorithm's"
I want to code 2 searching algorithm's as follows
- [ ] **Linear search**
- [ ] **Binary search**

I want to code these 2 searching algorithm's please assign them to me.

[2018-07-05 14:56] sahilbansal17 commented on #177
They have already been done.

[2018-07-05 14:56] sahilbansal17 commented on #177
Please look up the Data structures and algorithms wiki pages for more.

[2018-07-05 14:57] #177 closed

[2018-07-06 12:36] CoderJolly commented on #48
pls assign radix sort and pls mention wich lang...

[2018-07-06 12:37] CoderJolly commented on #83
@sahilbansal17 is it still open?

[2018-07-06 13:31] Anujg935 opened #182 "Karatsuba algorithm"
I want to implement karatsuba multiplication algorithm.

[2018-07-06 15:10] ramitsawhney27 commented on #83
@CoderJolly yes.

[2018-07-06 18:12] shikher-raj commented on #48
Can i work on radix sort?

[2018-07-06 18:36] Anjali2901 commented on #11
Can i work on Strassen's Algorithm for Matrix multiplication?

[2018-07-06 22:57] CoderJolly commented on #83
pls assign it to me......

[2018-07-07 07:21] #106 closed

[2018-07-07 07:22] sahilbansal17 commented on #11
@Anjali2901 Yes, sure.

[2018-07-07 12:01] h-sinha commented on #151
Working on subtask 3

[2018-07-07 13:55] sourabh1031 opened #184 "Tree data structure"
- [x] Traversal in a binary tree
- [x]  Insertion and deletion in a binary tree
- [x]  Continuous and foldable binary trees
- [x] All the operations including finding height of the tree, etc.

[2018-07-07 14:08] ramitsawhney27 commented on #184
Go ahead.

[2018-07-07 14:35] #176 closed

[2018-07-07 14:36] sahilbansal17 commented on #48
@CoderJolly You can start working on radix sort. Use whichever language you prefer.

[2018-07-07 14:36] sahilbansal17 commented on #48
@shikher-raj You can take up some other issue or create one for yourself following the guidelines in the [GSSoC wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/GSSoC).

[2018-07-07 14:39] sahilbansal17 commented on #83
This is a challenge problem, so whosoever finishes it first and sends a PR, will get the points. So, no one needs to be assigned to this.

[2018-07-07 15:43] Aashu24 opened #186 "Chessboard problem"
Given an input N, a number. N represents the size of a chess board. We’ve a piece standing in top-left corner and it must reach the bottom-right corner. The piece moves as follows –
a. In any cell, the piece moves like a knight. But out of the possible 8 moves for a knight only the positive ones are valid i.e. both row and column must increase in a move.
b. On the walls (4 possible walls), the pie

[2018-07-07 17:37] CoderJolly commented on #83
where shall i save the file of .cpp solution?

[2018-07-07 17:38] sahilbansal17 commented on #83
@CoderJolly [here](https://github.com/sahilbansal17/Competitive_Coding/blob/master/Challenge%20Problems%20-%20GSSoC/pair_sum_problem_BST.cpp)

[2018-07-07 20:22] #157 closed

[2018-07-07 21:14] CoderJolly commented on #165
Please provide some description....

[2018-07-08 03:08] jstjyoti opened #189 "HashMap"
implementation of hash map using linear probing and searching element using keys in O(1).

1. -inserting an element into hasmap with their keys.
2. -deleting an element from hasmap.
3. -searching an element using key

I want to solve this issue for Hashmap Data Structure.

[2018-07-08 07:01] shivhek25 opened #191 "2D matrix sum (Data structure)"
Given a 2D array, the algorithm will aim to find the sum of numbers contained in the sub-matrix formed by given 2 coordinates in a query.

[2018-07-08 11:10] sahilbansal17 commented on #189
Also use chaining separately and provide the time complexity analysis for both **linear probing** and **chaining**.

[2018-07-08 11:11] sahilbansal17 commented on #191
Just to remind: Your previous issue #153 is still open.

[2018-07-08 11:30] jstjyoti commented on #189
I will add two different code files separately for Linear Probing and Chaining.

[2018-07-08 11:30] sahilbansal17 commented on #189
Okay fine.

[2018-07-08 11:36] shivhek25 commented on #191
@sahilbansal17 Kindly review. And yes, I am trying to code for the modified algorithm but am unable to form the dp formula so far. I will try to send it in by tonight

[2018-07-08 15:23] Anujg935 opened #194 "Indexing Of Linked List DataStructure Folder"
This is some different type of issue that i am raising in this the cpp files of different programs are there in the folder but the person opening the linked List folder will not get to know about which program is for what clearly unless he opens each and every file.
So what i would like to do is to add a text file to the folder which gives the details of the programs and separate them and index th

[2018-07-08 15:43] Sandip75 opened #195 "Sudoku"
The time complexity of Sudoku
O(n ^ m) where n is the number of possibilities for each square (i.e., 9 in classic Sudoku) and m is the number of spaces that are blank.

I want to reduce this complexity
1 . for that I will use bit operation for compare

Sometimes It's very difficult to use a 2D array. In my solution, I will try to convert to 1D Array and then I will solve it.

[2018-07-08 17:06] sahilbansal17 commented on #184
@sourabh1031 Only the **Euler tour of the tree**, rest have been done.

[2018-07-08 17:15] #194 closed

[2018-07-08 18:11] ramitsawhney27 commented on #184
@sourabh1031 Demonstrate morris traversal as well.

[2018-07-08 18:28] Aashu24 opened #197 "Dutch national flag algorithm"
Given an array that contains only 0s, 1s and 2s, the problem is to sort this array in linear time using Dutch national flag algorithm. I would like to work on this. Please assign it to me.

[2018-07-08 19:04] tanvi15 opened #199 "Number to name"
Given a non-negative number, print the english words for it
For eg : 123
One hundred twenty three

[2018-07-08 19:10] #165 closed

[2018-07-08 19:11] tanvi15 commented on #165
@CoderJolly It was a question where each of the digits in the numbers to be multiplied were stored as individual nodes in two linked lists.

[2018-07-08 19:16] ramitsawhney27 commented on #199
@tanvi15 we’ve seen you solve good tough problems. I don’t see any point in opening issues for such trivial problems considering you can do much better.

[2018-07-08 19:16] #199 closed

[2018-07-08 19:18] tanvi15 commented on #199
@ramitsawhney27 uhm okay, I don't know where to search for better questions :/

[2018-07-09 09:04] ramitsawhney27 commented on #197
Go ahead

[2018-07-09 10:29] tanvi15 commented on #83
Managed time complexity of O(nlogn) and space O(1), but I guess that's not permissible?

[2018-07-09 11:56] shivhek25 commented on #189
@sahilbansal17 Can I work on cuckoo hashing ?

[2018-07-09 11:58] shivhek25 commented on #28
@sahilbansal17 What exactly do we need to work on in the second sub-task ? Algorithm to show the amortisation process ?

[2018-07-09 12:44] h-sinha commented on #151
Working on subtask 1

[2018-07-09 13:05] ramitsawhney27 commented on #83
@tanvi15 considering this is the first and so far only problem for 50 points, not really. Let me know your approach though, I can help out if you're close.

[2018-07-09 16:26] Aashu24 opened #204 "Wave sort in array"
Given an unsorted array of integers, sort the array into a wave like array. An array ‘arr[0..n-1]’ is sorted in wave form if arr[0] >= arr[1] <= arr[2] >= arr[3] <= arr[4] >= …..

I would like to work on this problem in Java. Please assign it to me.

[2018-07-09 17:29] tanvi15 commented on #83
@ramitsawhney27 I did an inorder traversal, and kept searching for (k - nodeData) for each nodeData. If present, their sum is k and function returns k-nodeData (right side is greater)

[2018-07-09 19:35] CoderJolly commented on #83
@ramitsawhney27 its my first problem too....if my submission is permissible, pls award me points first

[2018-07-09 21:21] Anjali2901 commented on #11
Strassen's Algorithm for Matrix multiplication Up for Grab , I couldn't work on it .

[2018-07-10 07:05] imkaka opened #206 "Stack->Convert Infix Notation to Postfix Notation and Evaluate."
* Also Evaluate the Infix Notation Equation.

@sahilbansal17  I want to work on this.

[2018-07-10 13:26] #197 closed, assigned to nobody

[2018-07-10 13:30] tanvi15 commented on #83
@ramitsawhney27 yes I was trying to do the same

[2018-07-10 13:40] Anujg935 opened #207 "Print the subset sum to K (Recursive Problem)"
I want't to code this problem in which a array is given and an integer is also given.Want to print the output of the subsets of array which sums to k.

[2018-07-10 14:11] lavishsaluja opened #208 "Power Set Generation Algorithm"
Given an array, the algorithm outputs the set of all possible subsets!

[2018-07-10 16:04] ramitsawhney27 commented on #208
Go ahead

[2018-07-10 19:41] Aashu24 opened #212 "Generic tree implementation"
I would like to work on the code for generic tree implementation in Java and level order traversal for the generic tree. Please assign it to me.

[2018-07-10 21:55] ramitsawhney27 commented on #83
Closing this now, the issue has been solved.

[2018-07-10 21:55] #83 closed

[2018-07-10 21:57] ramitsawhney27 commented on #204
Merged, closing this.

[2018-07-10 21:57] #204 closed

[2018-07-10 21:57] ramitsawhney27 commented on #207
Go ahead.

[2018-07-10 21:58] ramitsawhney27 commented on #212
Go ahead.

[2018-07-11 02:51] shivhek25 commented on #28
Okay, I can work on this.

[2018-07-11 06:58] sahilbansal17 commented on #207
@Anujg935 Please send a clean PR this time. If you have any problems, ask for help.

[2018-07-11 06:58] #195 closed

[2018-07-11 06:59] #28 closed

[2018-07-11 08:42] tanvi15 opened #214 "To check for mirror in an n-ary tree"
To check if another tree is a mirror image of the first

[2018-07-11 09:31] shivhek25 commented on #11
@sahilbansal17 I would like to work on weighted job scheduling algorithm.

[2018-07-11 09:32] shivhek25 commented on #48
Can I take up radix sort ?

[2018-07-11 14:21] Aashu24 opened #217 "SPOJ - Aggressive cows"
Farmer John has built a new long barn, with N (2 <= N <= 100,000) stalls. The stalls are located along a straight line at positions x1,...,xN (0 <= xi <= 1,000,000,000).

His C (2 <= C <= N) cows don't like this barn layout and become aggressive towards each other once put into a stall. To prevent the cows from hurting each other, FJ wants to assign the cows to the stalls, such that the minimum di

[2018-07-11 14:46] #217 closed

[2018-07-11 14:46] tanvi15 commented on #83
@h-sinha great work, man!

[2018-07-11 14:50] Aashu24 opened #219 "Range Query"
Given Q queries, with each query consisting of two integers L and R, the task is to find the total numbers between L and R (Both inclusive), having atmost three set bits in their binary representation.
The values of L and R lie within the range [0, 10^18] (both inclusive).
Example:
Input : Q = 2
        L = 3, R = 7
        L = 10, R = 16
Output : 5
              6
For the first query, valid numbe

[2018-07-11 17:09] h-sinha commented on #83
Thanks @tanvi15

[2018-07-11 18:04] mohitj27 commented on #50
can i start working of this if something remaining in this

[2018-07-11 18:05] mohitj27 commented on #49
is the 2nd task still available if yes i want to work on this

[2018-07-11 18:07] mohitj27 commented on #219
can you provide some test cases

[2018-07-12 10:28] sahilbansal17 commented on #153
@shivhek25 Please confirm whether you will be working on it.

[2018-07-12 10:29] sahilbansal17 commented on #50
Yes @mohitj27 All the sub-tasks are available.

[2018-07-12 10:31] sahilbansal17 commented on #49
@mohitj27 Take up either this issue or the Disjoint set.

[2018-07-12 10:31] mohitj27 commented on #50
means nothing is merged yet

[2018-07-12 10:31] sahilbansal17 commented on #50
@mohitj27 Yes.

[2018-07-12 10:32] sahilbansal17 commented on #48
@shivhek25 Take up one issue at a time.

[2018-07-12 10:32] mohitj27 commented on #49
okk first i will do disjoint set issue and after that this

[2018-07-12 10:33] sahilbansal17 commented on #11
@shivhek25 One issue at a time.

[2018-07-12 10:34] #208 closed

[2018-07-12 13:21] shivhek25 commented on #153
Can't work on it right now, sorry.

[2018-07-12 13:22] lavishsaluja opened #223 "Implementing Square root function"
An algorithm to find the square root of a given number.
Working on it.

[2018-07-12 14:38] lavishsaluja opened #225 "Union and Intersection of two Sets"
An algorithm to find the Union and Intersection of 2 sets.
Working on this.

[2018-07-12 16:21] ramitsawhney27 commented on #223
Please wait till an issue is approved next time.

[2018-07-12 16:24] ramitsawhney27 commented on #225
This is way too basic, you literally just have to implement the definition by hashing/linearly searching. Closing this.

[2018-07-12 16:24] #225 closed

[2018-07-12 17:01] #223 closed

[2018-07-12 20:36] tanvi15 opened #228 "Number permutation"
Given an integer n, find a permutation of numbers from 1 to n such that the sum of two consecutive numbers of that permutation is a perfect square.

Eg : Input : 17
Output : 16, 9, 7, 2, 14, 11, 5, 4, 12, 13, 3, 6, 10, 15, 1, 8, 17
Explanation : 16+9 = 25 = 5 * 5, 9+7 = 16 = 4 * 4, 7+2 = 9 = 3 * 3 and so on.

Modifications welcome.

[2018-07-13 03:49] ramitsawhney27 commented on #228
Go ahead

[2018-07-13 16:52] h-sinha commented on #48
Is someone working on radix sort?

[2018-07-13 16:53] h-sinha commented on #48
@shivhek25 are you working on radix sort?

[2018-07-13 19:06] Anujg935 opened #229 "Reversing Of Stack"
I want to code the problem in which a input stack with elements are given and 1 empty stack is given we need to return the input stack to be reversed.

[2018-07-13 19:07] ramitsawhney27 commented on #229
This has already been done.

[2018-07-13 19:07] #229 closed

[2018-07-13 19:16] imkaka opened #230 "Greedy => Activity Selection and Huffman Coding"
@sahilbansal17 I want to work on these two.

[2018-07-13 19:17] Anujg935 opened #231 "Reversing Of Queue"
Please see if it can be done if not already implemented.

[2018-07-14 06:31] ramitsawhney27 commented on #231
It’s done already.

[2018-07-14 06:31] #231 closed

[2018-07-14 08:02] sahilbansal17 commented on #48
@h-sinha You can start working on it.

[2018-07-14 08:05] sahilbansal17 commented on #230
@imkaka Sure.

[2018-07-14 10:11] shivhek25 opened #234 "Minimum product of indices for common elements"
I would like to work on an algorithm that finds the minimum product of indices for common elements in 2 different arrays (STL based greedy approach).

[2018-07-14 10:47] sahilbansal17 commented on #234
@shivhek25 Could you please elaborate giving a few examples?

[2018-07-14 10:51] shivhek25 commented on #234
Say, the arrays are
a : 3 1 2
b : 1 2 1
(1-based indexing)

The possible common elements are (a2,b1), (a2,b3), (a3,b2)
Product of indices in each case : 2, 6, 6
Output : 2

[2018-07-14 10:52] sahilbansal17 commented on #234
It is very easy.

[2018-07-14 11:02] shivhek25 commented on #234
Yes, but I was hoping to do it in reduced complexity using the knowledge of vectors and pairs.

[2018-07-14 11:03] sahilbansal17 commented on #234
You would simply store the pair of elements and indices and sort them. Isn't it?

[2018-07-14 11:09] shivhek25 commented on #234
Yes, and then check for corresponding elements by maintaining indices of both arrays. O(m+n) complexity basically instead of O(mn).

[2018-07-14 11:10] sahilbansal17 commented on #234
Still, sorting would take `O(n logn)`, so how is it `O(m + n)` ?

[2018-07-14 11:11] shivhek25 commented on #234
Overlooked the change in complexity due to the sorting part.
It's still better than O(mn) though.

[2018-07-14 11:13] sahilbansal17 commented on #234
But, its so easy to implement. Sorry, I am closing this issue, you have the potential to take up more advanced algorithms.

[2018-07-14 11:13] #234 closed

[2018-07-14 13:39] rishabhgarg25699 opened #236 "Program to remove duplicate elements from an unsorted array"
Please assign me this program to do.

[2018-07-14 17:34] sahilbansal17 commented on #236
Okay, @rishabhgarg25699 You can work on it, but provided that the time complexity should be the best possible.

[2018-07-14 18:19] Dhiraj240 opened #237 "Add sorting algorithms"
1.insertion sort
2.merge sort
3.radix sort
I want to work on all of the above three.

[2018-07-15 05:40] Dhiraj240 commented on #237
Only the merge sort is done from the above list.

[2018-07-15 05:52] rishabhgarg25699 commented on #236
In which folder of algorithm , I put the solution ?

[2018-07-15 10:30] arnav-mandal1234 commented on #236
Kindly explain your approach, then we can help you.

[2018-07-15 10:35] arnav-mandal1234 commented on #153
You can work on the idea you suggested. @ramitsawhney27  I didn't get you. Why only up, down, diagonal left and diagonal right?
We can add another issue where we can start anywhere and move in all the 8 directions. It is a medium-hard level issue. @sahilbansal17  look into this.
If you agree then make another issue.

[2018-07-15 17:57] #48 closed

[2018-07-15 17:59] shivhek25 commented on #153
Okay @arnav-mandal1234

[2018-07-15 20:21] tanvi15 opened #243 "Quicksort on a singly linked list"

[2018-07-15 20:25] Anujg935 opened #244 "Implementation Of Generic Tree with custom functions"
Generic trees are the starting point of learning a Tree data structure i want to implement Generic tree data structures with following custom made function which helps the beginner student to learn the tree data structure with ease:-
- [x] **Level Wise Take Input Function**
- [x] **Level Wise Print Output Function**
- [x] **Counting Number Of Nodes Function**
- [x] **Sum Of Data Of all Nodes Funct

[2018-07-16 14:07] #228 closed

[2018-07-16 15:06] Aashu24 opened #246 "No sibling in binary tree"
Given a binary tree, the problem is to print all the nodes in the tree that don't have a sibling.

I will like to work on this question in Java. Please assign it to me.

[2018-07-16 17:12] h-sinha opened #247 "String matching algorithms"
Given a text and a pattern, find all occurrences of the pattern in the text.
- [x] Naive approach

- [x] Rabin-Karp Algorithm

- [x] KMP Algorithm

[2018-07-17 04:33] #153 closed

[2018-07-17 04:37] shivhek25 commented on #247
Can I work on the KMP algorithm ?

[2018-07-17 04:58] h-sinha commented on #247
I have started working on it. You can take up Rabin-Karp if you want

[2018-07-17 05:10] #219 closed

[2018-07-17 17:11] shivhek25 commented on #247
Okay, I can take up Rabin-Karp then.

[2018-07-18 13:07] shivhek25 commented on #236
Can I work on this ?

[2018-07-18 14:59] Anujg935 commented on #244
please have a look at the issue it has been more than 3 days i have raised the issue.

[2018-07-18 15:00] pritamnegi commented on #11
I am unable to figure out code for Closest pair of points. It's up for grab

[2018-07-18 15:01] pritamnegi commented on #247
Can I work on Naive Approach??

[2018-07-18 15:41] h-sinha commented on #247
Sure.Go ahead @pritamnegi

[2018-07-18 17:24] imkaka opened #252 "DP => Weighted Job Scheduling(Activity Selection)"
@sahilbansal17 I want to work on this.

[2018-07-18 21:39] #243 closed

[2018-07-19 04:52] sourabh1031 commented on #162
@rishabhgarg25699 if you don't mind i think you haven't send any pr for it shall i work on it?

[2018-07-19 04:55] #184 closed

[2018-07-19 05:23] sourabh1031 opened #254 "Morris traversal in a binary tree"
I will implement morris traversal in a binary tree

[2018-07-19 12:49] vikasgola commented on #244
@Anujg935  which language are you going to use?

[2018-07-19 15:00] Anujg935 commented on #244
C++

[2018-07-19 15:49] vikasgola commented on #244
@Anujg935 go ahead.

[2018-07-20 08:37] Anujg935 opened #258 "Return subsets sum to K(Recursion problem)"
i have implemented the same problem but in that problem we have to only print the subsets that sums to k. but I find that printing using recursion is easier than the returning of all the subsets in a 2d array.It will be very helpful for students .in this the output d array the first element of each row of subsets there in the size of the array which helps us to later print them in the main functio

[2018-07-21 08:32] rishabhgarg25699 opened #259 "Program to rotate array of size n by d elements."
It is a very popular interview question.Can i do this.

[2018-07-21 09:01] ramitsawhney27 commented on #259
Go ahead

[2018-07-21 12:54] #244 closed

[2018-07-21 14:20] sourabh1031 commented on #189
@jstjyoti  can i work on this issue if you don't want

[2018-07-22 05:06] jstjyoti commented on #189
OK fine you can

On Sat, 21 Jul 2018, 7:50 pm Sourabh, <notifications@github.com> wrote:

[2018-07-22 05:46] shivhek25 opened #262 "Matrix rotation"
I wish to work on matrix rotation.

[2018-07-22 05:50] #254 closed

[2018-07-22 07:54] ramitsawhney27 commented on #262
Open and work on new issues once you’re done with your older one (min cost in a matrix all 8 dimensions)

[2018-07-22 08:55] shivhek25 commented on #262
@ramitsawhney27 I am not sure if that issue was assigned to me. @arnav-mandal1234 asked @sahilbansal17 to consider the issue and open a new one if needed.

[2018-07-22 10:56] ramitsawhney27 commented on #262
I’ll reopen it and assign it to you.

[2018-07-22 11:04] sourabh1031 opened #263 "STL Implementation"
- [x] Vector
- [x] List
- [x] Pair
- [x] Heap

[2018-07-22 14:40] arnav-mandal1234 commented on #263
Hope you submit PR within two days.

[2018-07-22 15:05] arnav-mandal1234 commented on #262
Actually, you can open the issue but if he wants to take this issue he can why closing the issue?
@shivhek25 I am reopening this issue and if you want to take this, then I will assign it to you.

[2018-07-22 15:33] shivhek25 commented on #262
Okay @arnav-mandal1234

[2018-07-22 15:33] shivhek25 commented on #263
Is @sourabh1031 working on all of these ?

[2018-07-22 15:43] sourabh1031 commented on #263
@shivhek25 currently i am working on all but if i am not able to do so after two days you can request for it

[2018-07-23 09:46] arnav-mandal1234 commented on #262
@shivhek25 do you want to work on this? Then i will assign you.

[2018-07-24 06:35] sourabh1031 commented on #263
@shivhek25 you can work on the last one

[2018-07-24 07:34] sourabh1031 commented on #263
@imkaka okay

[2018-07-24 07:36] vikasgola commented on #247
**Difficulty Level:-**
Naive Approach:  Intermediate
KMP:  Pro
RKA:.  Pro

[2018-07-24 07:51] imkaka commented on #263
okey thanks.

[2018-07-24 08:16] Aashu24 opened #265 "Detect a cycle in a linked list"
A linked list is said to contain a cycle if any node is visited more than once while traversing the list. The problem is to determine if a given Linked list contains a cycle or not. (Floyd’s Cycle-Finding Algorithm)

I will like to work on this problem in Java. Please assign it to me.

[2018-07-24 19:04] lavishsaluja opened #267 "Kth smallest element in an array"

[2018-07-25 14:21] pritamnegi commented on #267
Can i work on this issue???

[2018-07-25 15:02] lavishsaluja commented on #267
Working on this already.

[2018-07-25 15:51] pritamnegi commented on #267
Ok fine

[2018-07-25 16:00] h-sinha commented on #247
@shivhek25 are you working on RKA?

[2018-07-26 20:46] #230 closed

[2018-07-26 20:51] Anujg935 opened #272 "Constructing binary tree from Traversals"
i want to implement the two problems
- [ ] Construct Tree from Preorder and Inorder traversal
- [ ] Construct Tree from Postorder and Inorder traversal

these programs requires a lot of logical thinking .Please assign it to me.

[2018-07-27 06:32] rishabhgarg25699 opened #273 "Tapping Rain Water Problem"
Its a very important and famous interview problem and i want to work on it.
Please assign it to me.

[2018-07-27 15:49] pritamnegi commented on #60
I wish to work on Coin change problem. Can I proceed??

[2018-07-27 18:21] Anujg935 opened #275 "Diameter of Binary tree"
It is very famous problem on binary tree problem.I will do it with 2 approaches following are the approaches:-
- [ ] **Simple Approach** (Time complexity = O(n*h) where h is height of tree)
- [ ] **Modified Approach using Pair class** (Time complexity = O(n))

please assign it to me

[2018-07-28 16:30] sourabh1031 opened #276 "Insertion Sort"
@vikasgola  @ramitsawhney27  @arnav-mandal1234  please assign   me the issue

[2018-07-29 22:58] Anujg935 opened #279 "Implementing Binary Search Tree Class"
I want to implement the binary tree class with the following feaures:-
- [ ] **Insertion function**
- [ ] **Delete node function**
- [ ] **Searching function**
- [ ] **constructor**
- [ ] **Destructor**
- [ ] **Print the tree function**

please assign it to me as soon as possible.

[2018-07-31 12:09] sahilbansal17 commented on #247
@h-sinha You can start working.

[2018-07-31 12:15] #265 closed

[2018-07-31 12:50] #263 closed

[2018-07-31 12:51] #258 closed

[2018-07-31 12:53] sahilbansal17 commented on #273
@rishabhgarg25699 First send a new PR for #259 writing the code yourself.

[2018-07-31 18:14] Anujg935 opened #282 "HashMap Implementation"
Hashmap implementation with the following functionalities:-
- [x] **Insert**
- [x] **Get**
- [x] **Delete**
we can use inbuilt Hashmaps but everyone who is using it should have knowledge of implementing it.
So,please assign it to me as soon as possible.

[2018-07-31 18:25] Aashu24 opened #283 "Lowest common ancestor"
Let T be a rooted tree. The lowest common ancestor between two nodes n1 and n2 is defined as the lowest node in T that has both n1 and n2 as descendants (where we allow a node to be a descendant of itself). The problem is to determine the lowest common ancestor of two elements in a binary tree.

Please assign this issue to me.

[2018-08-01 05:10] #279 closed

[2018-08-01 05:15] #275 closed

[2018-08-01 11:32] #247 closed

[2018-08-01 17:11] #276 closed

[2018-08-01 17:57] sourabh1031 opened #286 "Square Root using binary search"
Calculate Square Root of a number using binary search up to p precisions

[2018-08-01 17:57] sourabh1031 commented on #286
@sahilbansal17 please assign it to me

[2018-08-01 18:16] Aashu24 opened #288 "to check if a binary tree is a BST"
A binary search tree (BST) is a node based binary tree data structure which has the following properties.
• The left subtree of a node contains only nodes with keys less than the node’s key.
• The right subtree of a node contains only nodes with keys greater than the node’s key.
• Both the left and right subtrees must also be binary search trees.

The problem is to check if a given binary tree is

[2018-08-02 11:38] ighosh98 opened #289 "Implementation of Euler's Phi function"
Objective: Given a value of n, find the value of Euler's Phi Function.

[2018-08-02 15:44] #283 closed

[2018-08-02 15:44] #289 closed

[2018-08-02 18:27] Aashu24 opened #292 "Cousins of a node in Binary tree"
The problem is to print all cousins of a node in a binary tree. A cousin of a node will be all nodes on the same level that are not the node's siblings(a sibling is a node that has the same parent). Please assign this problem to me.

[2018-08-03 02:47] #288 closed

[2018-08-03 07:17] Aashu24 opened #294 "Top view of binary tree"
Top view of a binary tree is the set of nodes visible when the tree is viewed from the top. Given a binary tree, print the top view of it. Please assign this to me.

[2018-08-03 17:13] #292 closed

[2018-08-04 12:58] Aashu24 opened #297 "vertical print of binary tree"
Given a binary tree, print it vertically. For eg. -
          1
        /    \
       2      3
      / \    / \
     4   5  6   7
             \   \
              8   9

The output of print this tree vertically will be:
4
2
1 5 6
3 8
7
9

Please assign this to me.

[2018-08-06 09:08] #294 closed

[2018-08-06 09:08] #286 closed

[2018-08-06 09:09] #259 closed

[2018-08-06 11:18] Aashu24 opened #300 "Partition Linked List"
Write code to partition a linked list around a value x, such that all nodes less than x come
before all nodes greater than or equal to x. If x is contained within the list, the values of x only need
to be after the elements less than x (see below). The partition element x can appear anywhere in the
"right partition"; it does not need to appear between the left and right partitions.
EXAMPLE :
Input

[2018-08-06 14:16] Anujg935 opened #302 "MinPriority Queue Implementation"
i want to implement Min-Priority Queue .It's available in STL but i always feel so the person should know how to build what the person is using.So i want to build the min priority queue with the following functionalities:
- [x] **getMin**
- [x] **insert**
- [x] **removeMin**
- [x] **getSize**
- [x] **isEmpty**

[2018-08-06 14:27] imkaka commented on #252
I was traveling back to my college and a lot of chores to complete there I will create a PR in some hour.
@sahilbansal17 Please Assign it me back.

[2018-08-06 18:01] imkaka commented on #267
@sahilbansal17 I want to work on this Please Assign it.

[2018-08-06 19:04] imkaka commented on #60
@sahilbansal17 I want to work on Matrix Chain Multiplication Please assign it.

[2018-08-07 16:28] #252 closed

[2018-08-07 16:28] #282 closed

[2018-08-07 16:29] sahilbansal17 commented on #267
@imkaka You can start working, the program should have a complexity of `O(N)`.

[2018-08-07 16:36] #302 closed

[2018-08-07 17:02] Anujg935 opened #305 "MaxPriority Queue Implementation"
i want to implement Max-Priority Queue .It's available in STL but i always feel so the person should know how to build what the person is using.So i want to build the min priority queue with the following functionalities:
- [x] **getMin**
- [x] **insert**
- [x] **removeMin**
- [x] **getSize**
- [x] **isEmpty**

[2018-08-07 17:03] sahilbansal17 commented on #305
Just small changes need to be made in the Min-priority queue, you won't be getting extra points for it.

[2018-08-07 17:05] Anujg935 commented on #305
okay,still i will do it.just a question will i have to do the commenting of the maxPriorityQueue or can be just say in comments that please see minPriorityQueue  program for concept.

[2018-08-07 17:06] sahilbansal17 commented on #305
Yes, add comments also, just small changes need to be done, I think.

[2018-08-07 17:08] Anujg935 commented on #305
okay

[2018-08-07 19:08] Anujg935 opened #306 "Largest BST"
Given a **Binary tree**, find the largest BST subtree. That is,we need to find the BST with maximum height in the given binary tree. This is very famous and usefull problem on BST and Binary tree topic.i want to work on this.

[2018-08-08 17:02] #305 closed

[2018-08-09 19:39] Anujg935 opened #309 "Remove function in Trie Datastructure"
while reading the Trie Data structure program that is already implemented .I found out that **remove word** function is not present in the program .But if the insert function is present in the program than the remove function must be their.
So i want to implement **remove-word** function in the existing Trie DS.

[2018-08-10 02:39] #306 closed

[2018-08-10 14:08] Anujg935 opened #311 "Path Sum Root to Leaf"
Given a binary tree and a number k, print out all root to leaf paths where the sum of all nodes value is same as the given number k.This is a very famous as well as important problem on binary tree .so i want to work on this.

[2018-08-11 15:13] Aashu24 commented on #311
@Anujg935 This has already been added. Check Algorithms->Trees->Binary tree->RootToLeaf. Issue #246 and PR #249 .

[2018-08-11 15:23] Aashu24 opened #315 "Print K far"
Given a binary tree, a target node in the binary tree, and an integer value k, print all the nodes that are at a distance k from the given target node. No parent pointers are available.

I will like to work on this problem. Please assign it to me.

[2018-08-12 16:59] sahilbansal17 commented on #311
No, @Anujg935 Kindly don't work on this since it is already done.

[2018-08-12 16:59] #311 closed

[2018-08-12 16:59] #315 closed

[2018-08-12 16:59] #300 closed

[2018-08-12 17:03] #309 closed

[2018-08-12 17:12] Anujg935 opened #317 "Print nodes at distance k from node"
It's a advanced Binary tree problem.Given a binary tree, a node and an integer K, print nodes which are at K distance from the the given node.It's a difficult problem but help students to learn many concepts.so assign it to me.

[2018-08-12 17:40] Aashu24 opened #318 "Longest bitonic subsequence"
Given an array arr[0 … n-1] containing n positive integers, a subsequence of arr[] is called Bitonic if it is first increasing, then decreasing. Write a function that takes an array as argument and returns the length of the longest bitonic subsequence. This is a DP problem.

I will like to work on this problem. Please assign it to me.

[2018-08-12 17:41] Aashu24 commented on #317
@Anujg935 This was also added by me today. Issue #315 and PR #316 .

[2018-08-12 19:29] Anujg935 opened #319 "Fibonacci Number using Different approaches"
As we all know Fibonacci  number problem is very classic problem in programming.But now i will be solving this problem with different approaches and techniques following are the approaches:-
- [ ] **Brute Force Approach**  (Time complexity **O(n^2)**)
- [ ] **Memoization Technique**  (Time complexity **O(n)**)
- [ ] **Dynamic Programming**  (Time complexity **O(n)**)

[2018-08-13 07:41] Aashu24 opened #321 "Minimum palindromic cut"
Given a string, a partitioning of the string is a palindrome partitioning if every substring of the partition is a palindrome. For example, “aba|b|bbabb|a|b|aba” is a palindrome partitioning of “ababbbabbababa”. Determine the fewest cuts needed for palindrome partitioning of a given string. This is a DP problem.
I will like to work on this problem. Please assign it to me.

[2018-08-13 12:44] #317 closed

[2018-08-13 14:39] Anujg935 opened #323 "Minimum Steps to 1"
Given a positive integer n, find the minimum number of steps s, that takes n to 1. You can perform any one of the following 3 steps.
1.) Subtract 1 from it. (n= n - ­1) ,
2.) If its divisible by 2, divide by 2.( if n%2==0, then n= n/2 ) ,
3.) If its divisible by 3, divide by 3. (if n%3 == 0, then n = n / 3 ).
It's a standard DP problem but i need to solve it using three different approaches for be

[2018-08-13 19:27] Aashu24 opened #325 "Egg dropping problem"
Suppose you have N eggs and you want to determine from which floor in a K-floor building you can drop an egg such that it doesn't break. You have to determine the minimum number of attempts you need in order to find the critical floor in the worst case while using the best strategy. There are few rules given below.

- An egg that survives a fall can be used again.
- A broken egg must be discarded.

[2018-08-14 06:43] #318 closed

[2018-08-14 08:42] Aashu24 opened #327 "Goldmine problem"
Given a gold mine of n*m dimensions. Each field in this mine contains a positive integer which is the amount of gold in tons. Initially, the miner is in the first column but can be at any row. He can move only (right->, right up /, right down\) that is from a given cell, the miner can move to the cell diagonally up towards the right or right or diagonally down towards the right. Find out the maxim

[2018-08-14 13:25] #319 closed

[2018-08-14 13:26] #321 closed

[2018-08-14 13:26] #325 closed

[2018-08-14 13:48] Anujg935 opened #328 "Replace pi (recursive problem)"
Given a string, compute recursively a new string where all appearances of "pi" have been replaced by "3.14".Its a recursive problem on strings.I think it helps students to learn more about applying recursion on strings.

[2018-08-14 18:11] Aashu24 opened #331 "Maximum size square sub-matrix"
Given a binary matrix, find out the maximum size square sub-matrix with all 1s. This is a DP problem. Please assign it to me.

[2018-08-15 09:55] Aashu24 opened #333 "Construct binary tree from preorder and inorder"
Given the preorder and inorder traversals of a binary tree, we have to construct the binary tree using them. Please assign it to me.

[2018-08-15 14:36] Anujg935 commented on #333
@sahilbansal17 ,sir sory to inturuppt but it's already done ,you can checkout issue #272 and PR #274
othervise thats completly your wish .I just informed you about it.in case you forgot

[2018-08-15 14:40] Anujg935 opened #334 "Count total set bits in all numbers from 1 to n"
please assign it to me .if not implemented earlier.

[2018-08-15 17:02] Dhiraj240 opened #335 "Array Frequency Sort"
1.Given an array of integers, sort the array according to frequency of elements. For example, if the input array is {2, 3, 2, 4, 5, 12, 2, 3, 3, 3, 12}, then modify the array to {3, 3, 3, 3, 2, 2, 2, 12, 12, 4, 5}.

Assign this issue to me,so as i can provide a solution by tomorrow.

[2018-08-15 17:28] Anujg935 opened #337 "Pattern Matching in Trie Data structure"
I want to implement a =n important function in out trie Data structure .Some times we need to find some words just by it's pattern we don't know exact name or string .So i want to implement it.
Also i want to implement it from scratch with complete Trie DS. So that it's much more cleaner.As if i implement it in already implemented Trie it will be a mess .

[2018-08-15 18:28] Aashu24 opened #338 "Intersection"
Given two (singly) linked lists, determine if the two lists intersect. Return the
intersecting node. Note that the intersection is defined based on reference, not value. That is, if the
kth node of the first linked list is the exact same node (by reference) as the jth node of the second
linked list, then they are intersecting. I will be doing it without using HashMap. I will like to work on this p

[2018-08-15 18:58] Aashu24 opened #340 "Delete middle node"
Implement an algorithm to delete a node in the middle (i.e., any node but
the first and last node, not necessarily the exact middle) of a singly linked list, given only access to
that node (access to head is also not given).
EXAMPLE
lnput:the node c from the linked list a->b->c->d->e->f
Result: nothing is returned, but the new linked list looks like a ->b->d- >e- >f

I will like to work on this pr

[2018-08-15 21:39] Anujg935 opened #342 "Min Cost Path"
Given an integer matrix of size m*n, you need to find out the value of minimum cost to reach from the cell (0, 0) to (m-1, n-1).
From a cell (i, j), you can move in three directions : (i+1, j), (i, j+1) and (i+1, j+1).
Cost of a path is defined as the sum of values of each cell through which path passes.
This is a well known DP problem.But it's not easy for beginners to directly implement DP appro

[2018-08-16 05:55] Aashu24 commented on #342
@sahilbansal17 A similar issue was submitted by someone a long time back. Issue #153 .

[2018-08-16 06:05] Anujg935 opened #344 "Fast modulo Exponenentiation using Bitmask"
takes the input a , b and m.than return a^b % m.using bitmasking in O(logn) time complexity.

[2018-08-16 06:11] Aashu24 opened #346 "Sum lists"
You have two numbers represented by a linked list, where each node contains a single
digit. The digits are stored in reverse order, such that the 1 's digit is at the head of the list. Write a
function that adds the two numbers and returns the sum as a linked list.
EXAMPLE
Input: (7-> 1 -> 6) + (5 -> 9 -> 2).That is,617 + 295.
Output: 2 -> 1 -> 9. That is, 912.

I will like to work on this issue.

[2018-08-16 20:19] Anujg935 opened #349 "minimum steps required to make one string equal to other"
Given two strings s and t of lengths m and n respectively, find the Edit Distance between the strings. Edit Distance of two strings is minimum number of steps required to make one string equal to other. In order to do so you can perform following three operations only :
1. Delete a character
2. Replace a character with another one
3. Insert a character
I am going to implement it using following 3

[2018-08-17 07:50] Aashu24 commented on #349
@sahilbansal17 Issue #132 and PR #152 . I submitted the exact same issue and the problem was modified by you.

[2018-08-17 07:52] Aashu24 opened #351 "Palindrome"
Implement a function to check if a linked list is a palindrome. I will implement this iteratively without reversing the linked list. I will be using a stack and doing this in O(n). I will like to work on this problem. Please assign it to me.

[2018-08-19 15:06] Anujg935 opened #353 "Graph DS implementation using Adjacency Matrix"
Graph DS is already implemented but it's using maps.But i am going to implement it using adjacency matrix .which is a easier approach and is widely used.Also implementing it with the following features
- [ ] **DFS Traversal**
- [ ] **BFS Traversal**

[2018-08-19 16:18] Anujg935 opened #355 "Documenting Queue DS folder"
I want to document the queue DS folder .So that it becomes easy for users to find their required programs.I have some free time so i documented this.I also try to document other folders,whenever i get time..

I know i don't get any point's for this documentation .Also i don't need points for this .Please merge my PR.

[2018-08-20 09:26] #338 closed

[2018-08-20 09:27] #337 closed

[2018-08-20 09:28] #342 closed

[2018-08-20 09:29] #340 closed

[2018-08-20 09:30] #344 closed

[2018-08-20 09:31] #346 closed

[2018-08-20 09:33] #349 closed

[2018-08-20 09:34] #351 closed

[2018-08-20 09:35] #353 closed

[2018-08-20 09:36] #355 closed

[2018-08-20 17:15] #267 closed

[2018-08-21 06:58] #323 closed

[2018-09-09 03:05] jstjyoti commented on #114
Hello mentor,
Thank you for giving us a glimpse of open source contribution and git hub.

As instructed by github certificates to all the participants will be sent
by mentors. So I want to ask you a few things about certificate.
1.Will the certificate be given to all the participants?
2.Will the name of project be there on the certificate?
3.Will the certificate have any tag of Google or only Girl

[2018-09-09 03:56] sahilbansal17 commented on #114
Hi @jstjyoti,
It was great to see a good amount of contribution from your side.

We are not responsible for certificates, they will be provided by GSSoC organizers, I guess it will be provided to all the participants. I am not sure about the other details, so you can confirm rest of the things by asking on the slack channel.

[2018-10-27 14:16] #335 closed

[2018-10-27 14:16] #333 closed

[2018-10-27 14:16] #273 closed

[2018-10-27 14:16] #262 closed

[2018-10-27 14:16] #189 closed

[2018-10-27 14:17] #60 closed

[2018-10-27 14:17] #50 closed

[2018-10-27 14:17] #49 closed

[2018-10-27 14:17] #11 closed

[2018-10-27 14:18] sahilbansal17 opened #368 "Add instructions for Hacktoberfest"
Update the readme so that hacktoberfest participants can contribute to this repository and get started with open source.

[2018-10-27 14:22] sahilbansal17 opened #369 "Organize files in Algorithms and Data structure folders"
- [ ] Organize the files so that every file is in an appropriate folder.

[2018-10-27 14:32] sahilbansal17 opened #370 "Add computational geometry algorithms"
- [ ] Graham Scan algorithm for Convex Hull in **O(nlogn)**
- [ ] Online construction of 3-D convex hull in **O(n<sup>2</sup>)**
- [ ] Bentley Ottmann algorithm to list all intersection points of n line segments in **O((n+I)logn)**
- [ ] Rotating Calipers technique
- Line sweep/Plane sweep algorithms -
    - [ ] Area/perimeter of union of rectangles
    - [ ] Closest pair of points
- [ ] Area of u

[2018-10-27 14:45] akarshsingh9 commented on #368
may i take this one?

[2018-10-27 14:50] sahilbansal17 commented on #368
@akarshsingh9  Sure. Just add a new section about **How to contribute to Hacktoberfest ?**

 It should be brief and up to the point. Add relevant links.

[2018-10-27 16:32] akarshsingh9 commented on #368
Please review PR #373 and let me know of any changes required

[2018-10-27 18:17] sahilbansal17 commented on #368
Good work @akarshsingh9 @crouther .

[2018-10-27 18:17] #368 closed

[2018-10-27 18:28] sahilbansal17 opened #375 "Add flow network / matching algorithms"
- [ ] Maximum flow using Ford Fulkerson method
    - Solutions to following SPOJ problems:
        - [ ] [TAXI](https://www.spoj.com/problems/TAXI/)
        - [ ] [POTHOLE](https://www.spoj.com/problems/POTHOLE)
        - [ ] [IM](https://www.spoj.com/problems/IM)
        - [ ] [QUEST4](https://www.spoj.com/problems/QUEST4)
        - [ ] [MUDDY](https://www.spoj.com/problems/MUDDY)
        - [ ] [

[2018-10-27 18:51] SubashAravindan commented on #369
I'll take up this one

[2018-10-27 18:51] sahilbansal17 commented on #369
@SubashAravindan Sure, go ahead.

[2018-10-27 19:30] #369 closed

[2019-05-04 20:45] goelgoel opened #384 "add the code in java"
I want to add code of https://raw.githubusercontent.com/sahilbansal17/Competitive_Coding/master/Data%20Structures/Array/deletion.cpp      file in java with comments and some implementations.

[2019-05-05 09:26] sahilbansal17 commented on #384
Yes sure.

[2019-05-09 04:29] AnneLivia opened #386 "Add solutions from URI online judge"
I want to add some solutions to problems from URI Online Judge (https://www.urionlinejudge.com.br)

[2019-05-09 04:52] sahilbansal17 commented on #386
@AnneLivia Sure. Go ahead.
Follow these git guidelines.
1. First fetch the changes from the original repository's master branch.
**Keep your fork's main development branch updated with upstream's**. Use the following commands:
`git remote add upstream https://github.com/sahilbansal17/Competitive_Coding`
`git checkout master`
`git pull upstream master`
`git push origin master`
2. Work on Pull reque

[2019-05-18 14:17] crayx opened #388 "Remove '.' from checkout command"
The checkout command contains a period at the end.
Current: git checkout gh-pages-source.
Expected: git checkout gh-pages-source

[2019-05-18 17:20] #388 closed

[2019-05-22 06:09] Naba7 opened #390 "Check which algos and DS have been implemented and remove from being implemented list"
Please assign me this issue @sahilbansal17

[2019-05-22 06:16] Naba7 commented on #390
Since,binary search algorithm has been implemented Can you delete it from algorithms to be implemeted

[2019-05-22 06:17] Naba7 commented on #375
Can I be assigned to this issue? @sahilbansal17

[2019-05-22 06:19] sahilbansal17 commented on #375
Yes sure. @Naba7

[2019-05-22 06:19] sahilbansal17 commented on #375
Since there are multiple sub tasks, please choose one at a time.

[2019-05-22 06:24] sahilbansal17 commented on #390
Actually, the list currently doesn't mention which algorithms are implemented...
The lists are to be updated accordingly adding a tag whether something is done already.

[2019-05-23 04:46] Naba7 commented on #390
Alright. Can I take up the issue?

[2019-05-23 04:51] sahilbansal17 commented on #390
Yes sure. I recommend you to create a markdown post [here](https://github.com/sahilbansal17/Competitive_Coding/tree/gh-pages-source/_posts) creating a table of list of algorithms and whether they are implemented or not.

Also, you can directly modify the [wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/Algorithms).

[2019-05-27 15:46] Naba7 opened #391 "Linear_search, binary_search,jump_search,interpolation in python"
Please,Assign me this @sahilbansal17

[2019-06-04 13:22] megha070 opened #393 "Coin_change problem in java"
@sahilbansal17 I would like to work on this issue!

[2019-06-04 13:25] sahilbansal17 commented on #393
The [greedy algorithm](https://github.com/sahilbansal17/Competitive_Coding/wiki/Algorithms#greedy-algorithms) is already present.
Do you want to work on [Dynamic Programming problem](https://github.com/sahilbansal17/Competitive_Coding/wiki/Algorithms#dynamic-programming) for coin change?

[2019-06-04 13:29] megha070 commented on #393
Yes!

[2019-06-04 15:12] Ananyajain721 opened #395 "Sorting algorithms in java"
@sahilbansal17 I would like to work on this issue.

[2019-06-04 15:14] sahilbansal17 commented on #395
Sure @Ananyajain721
- Make sure you create a new branch and send Pull request from that new branch.
- Add your codes in a new folder named Java in [Sorting directory](https://github.com/sahilbansal17/Competitive_Coding/tree/master/Algorithms/Sorting).
- Also, your code should be written completely by you and follow the [Coding Standards](https://github.com/sahilbansal17/Competitive_Coding/wiki/Cod

[2019-06-04 16:32] megha070 opened #396 "Max difference between nearest left and right smaller elements"
I would like to work on this!

[2019-06-04 16:35] sahilbansal17 commented on #396
Sure @megha070
- Make sure you create a new branch and do commits in that, finally send Pull request from that new branch. Read [GitHub flow](https://help.github.com/en/articles/github-flow).
- Add your codes in the folder [Stacks](https://github.com/sahilbansal17/Competitive_Coding/tree/master/Algorithms/Stacks).
- Also, your code should be written completely by you and follow the [Coding Standar

[2019-06-04 16:37] #393 closed

[2019-06-04 18:16] megha070 opened #398 "Next greater element"
@sahilbansal17 I would like to work on this!

[2019-06-05 05:27] #391 closed

[2019-06-05 05:28] #386 closed

[2019-06-05 05:28] #390 closed

[2019-06-05 11:15] Naba7 opened #399 "exponential search and binary_stl search in python"
@sahilbansal17 I want to cover these in python.

[2019-06-05 11:17] sahilbansal17 commented on #399
Sure @Naba7

[2019-06-05 15:38] #396 closed

[2019-06-05 17:37] megha070 opened #402 "reverse and sorting of stack"
@sahilbansal17  I would like to work on this.

[2019-06-05 17:39] sahilbansal17 commented on #402
Can you create a single issue grouping all similar algorithms/data structures together? 😛
Name the issue with the name of data structure/class of algorithms.
In the description, add [task list](https://help.github.com/en/articles/about-task-lists) for all the algorithms.

[2019-06-05 17:42] megha070 commented on #402
Sure, I wasn't knowing if we could do that!

[2019-06-05 17:42] #402 closed

[2019-06-05 17:42] megha070 opened #403 "Stacks in java"
- [x] Reverse and Sorting of a stack
- [x] Prefix, Postfix, Infix conversions

[2019-06-05 17:53] megha070 commented on #403
@sahilbansal17 I would like to take this up.

[2019-06-05 17:54] sahilbansal17 commented on #403
@megha070 Kindly add the list of problems in task list format in the description above.

[2019-06-05 17:55] #398 closed

[2019-06-05 17:58] megha070 commented on #403
Codes to be implemented.
[ ]  Reverse and Sorting of a stack
[ ]  Prefix, Postfix, Infix conversions

[2019-06-05 18:00] megha070 commented on #403
@sahilbansal17  I would like to take this up.

[2019-06-07 15:36] megha070 opened #407 "Add new algoritms on linkedlist"
- [x] Connected components in a LinkedList
- [x] remove duplicates from unsorted LinkedList
- [x] Alternatingly merge lists
- [x] Zig Zag Linkedlist
- [x] Decimal number from binary Linkedlist

[2019-06-07 15:39] megha070 commented on #407
- [ ] Connected components in a LinkedList
- [ ] remove duplicates from unsorted LinkedList
- [ ] Alternatingly merge lists
- [ ] Zig Zag Linkedlist
- [ ] Decimal number from binary Linkedlist

[2019-06-08 17:48] bharati-21 commented on #403
Has this issue been assigned? I would like to work on this.

[2019-06-08 17:51] sahilbansal17 commented on #403
@bharati-21 This has been done, you can create new issues, considering the guidelines mentioned in the [Intro to contributing wiki page](https://github.com/sahilbansal17/Competitive_Coding/wiki/Introduction-to-Contributing).

[2019-06-08 17:54] bharati-21 commented on #395
@sahilbansal17  what about this issue? Has this been solved?

[2019-06-08 17:57] sahilbansal17 commented on #395
Not yet, you can send a PR if you wish.

[2019-06-08 18:48] bharati-21 commented on #395
@sahilbansal17  how many days do I get to complete and submit after I make a PR?

[2019-06-08 18:52] sahilbansal17 commented on #395
There is no rule for that as of now in this repository, you can take your time.

[2019-06-10 06:45] #407 closed

[2019-06-10 06:47] #403 closed

[2019-06-10 06:47] #384 closed

[2019-06-10 06:50] bharati-21 commented on #395
@sahilbansal17  okay! I'd like to work on this!

[2019-06-10 16:11] Ananyajain721 commented on #395
@bharati-21 I have already worked on Insertion, Bubble and selection sort. Please comment here on which sort you are working so that our works do not collide.

[2019-06-10 16:18] bharati-21 commented on #395
@Ananyajain721  Then I'll work on merge sort, quicksort, heapsort and if possible radix sort? cool with you?

[2019-06-10 17:15] Ananyajain721 commented on #395
yeah :)

[2019-06-15 14:32] Naba7 commented on #399
I guess binary_stl search in python is almost same as binary_search in python.

[2019-06-16 05:47] megha070 opened #410 "Stock Span Problem"
@sahilbansal17 I would like to take this up.

[2019-06-16 06:20] #399 closed

[2019-06-16 16:33] Naba7 opened #411 "Insertion and bubble sort in python"

[2019-06-16 16:48] Naba7 opened #412 "Algorithm checklist wiki page"
I bymistakely deleted the algorithms page you had created. The checklisted page. Sorry. I will make one by tonight.

[2019-06-16 16:50] sahilbansal17 commented on #412
I guess there is going back, you need not do the hard work
Since this is github:
https://stackoverflow.com/questions/24797429/how-do-i-undo-deleting-a-github-wiki-page

[2019-06-16 16:57] sahilbansal17 commented on #412
I have restored the file, never ignore the power of Git and Github! 😄

[2019-06-16 16:58] #412 closed

[2019-06-16 16:59] Naba7 commented on #412
Yes, Thanks. Btw I couldnt clone the wiki page as it says I had no access.?

[2019-06-16 17:00] sahilbansal17 commented on #412
I guess only the repository owner has rights to clone it.

[2019-06-26 18:00] Naba7 opened #416 "In algorithms can we add machine-learning algos?"
We can add regressors and classifiers in pytorch, tf, keras frameworks and we can implement some DL algorithms too.

[2019-06-29 19:27] kurianbenoy opened #417 "Stack implementation python"

[2019-06-30 04:25] sahilbansal17 commented on #416
@Naba7 I think that won't be too relevant to this repository.

[2019-06-30 04:26] #416 closed

[2019-06-30 04:29] sahilbansal17 commented on #410
@megha070 Any progress on this?

[2019-06-30 04:30] #411 closed

[2019-06-30 04:32] sahilbansal17 commented on #395
• Bucket, Counting & Insertion Sort: #414 ✔️
• QuickSort: #413 ✅

[2019-08-06 19:43] dinithiW opened #424 "Stack based algorithms Python"
I would like to work on the stack based algorithms using Python(Balanced Parenthesis Problems, Prefix, Postfix, Infix conversions, Reverse and Sorting of a stack)

[2019-08-07 05:01] sahilbansal17 commented on #424
Sure @dinithiW .

[2019-09-15 06:16] harshraj22 opened #431 "Solution to Spoj DQUERY"
@sahilbansal17  I would like to add solution to DQUERY problem using persistent segment tree ( Array Implementation ).

[2019-09-17 16:49] #431 closed

[2019-09-20 14:52] KruZZy opened #433 "Counting Inversions, Closest Pair (C++, Python) & graph algorithms (Python)"
I would like to work on the following:

- [x] counting inversions (c++ & python)
- [x] closest pair of points (c++ & python)
- [x] dfs (python)
- [x] bfs (python)
- [x] topological sorting (python)
- [x] binary indexed trees (c++ & python)

[2019-09-20 16:01] sahilbansal17 commented on #433
@KruZZy Sure 👍

[2019-09-28 10:20] Sachindrck opened #439 "Basic Stack implementation in python."
New to open source.

[2019-09-28 10:22] Sachindrck commented on #439
I would like to work on simple stack problems like parenthesis balancing ,decimal to binary , infix to postfix , reversing a stack using recursion and many others.

[2019-09-28 17:29] RahulRavishankar commented on #424
Hey! Even I'm interested in working on this.

[2019-09-29 12:33] sahilbansal17 commented on #424
@RahulRavishankar Sure, kindly take up those algorithms which are not there in the repository yet.

[2019-09-29 17:23] sahilbansal17 opened #440 "Organize files into well defined folders"
To make various contest solutions accessible, restructure the content in the **Problem Solutions** directory.

For example, in **fbHackerCup** folder, make subdirectories for contests held in different years.
Come up with such innovative methods to structure the content in a better way.

[2019-09-29 19:20] aayusharma10 commented on #433
I would like to work in Counting Inversions in C++ .

[2019-09-29 21:45] theadityasam commented on #440
Hey sahil!
Would like to work on this issue.

[2019-09-30 04:31] sahilbansal17 commented on #440
Sure @theadityasam
Use only `git mv` commands to do this.

[2019-09-30 07:05] theadityasam commented on #440
Cool

[2019-09-30 07:21] captainnemo89 opened #441 "Matrix Data Structure in cpp"
checklist:
- [ ] determinant
- [ ] addition
- [ ] subtraction
- [ ] scalar multiplication
- [ ] multiplication
- [ ] transpose
- [ ] identity
- [ ] adjoint
- [ ] inverse

will add more.

[2019-09-30 08:33] harshraj22 opened #442 "Add solutions to AtCoder DP Contests"
I would like to add my solutions to Atcoder DP Contests.

[2019-09-30 10:13] 20harshita commented on #439
New to open source . can i also contribute in this problem ?

[2019-09-30 11:46] captainnemo89 commented on #441
can I just have one file that runs others files' code for example ( driver code )?
and put different functions in different files.

[2019-09-30 11:47] sahilbansal17 commented on #441
It's better to create just one file with implementation of all functions since they will be quite small.

[2019-09-30 11:49] sahilbansal17 commented on #439
@20harshita Sure, but make sure the code for same problem is not already there in the repository.

[2019-09-30 18:35] NavonilDas opened #445 "Adding Solution of CodeChef LTIME76B"
I would like to contribute my solution of CodeChef LTIME76B of the following problems

- [x] [CATFEED](https://www.codechef.com/LTIME76B/problems/CATFEED)
- [x] [WATCHFB](https://www.codechef.com/LTIME76B/problems/WATCHFB)
- [x] [PAIRSUM2](https://www.codechef.com/LTIME76B/problems/PAIRSUM2)
- [x] [ALLSUB](https://www.codechef.com/LTIME76B/problems/ALLSUB)

[2019-09-30 20:44] NavonilDas opened #451 "Implementing Few Bit Masking Algorithms"
- [x] Flip Bits
- [x] Power of 2
- [x] Maximum XOR in a range
- [x] Finding a Unique number which is not repeated twice else every element is repeated twice
- [x] Count Number of Ways in which the Xor of two numbers is equal to the sum of these number.
  ## Problems
- [Flipping Bits](https://www.hackerrank.com/challenges/flipping-bits/problem)
- [Sum Vs Xor](https://www.hackerrank.com/challenges/s

[2019-10-01 05:32] anirudnits commented on #433
I can add Counting Inversion pairs in Python and also add Miller Rabin in python(as I saw that was missing).

[2019-10-01 06:57] sahilbansal17 commented on #451
@NavonilDas Looks great. You can get started with it!

[2019-10-01 06:58] sahilbansal17 commented on #433
@KruZZy Can you confirm if you are still working on Counting Inversions? Otherwise, @aayusharma10 and @anirudnits can contribute to that.

[2019-10-01 10:13] tanaytoshniwal commented on #451
I would like to implement the following bit masking algorithms:
- Check ith Bit
- Check Odd or Even
- Clear all bits from MSB
- Convert Number to Binary
- Flip ith bit
- Return First set bit
- Turn off First set bit
- Turn off ith bit
- Turn on ith bit

[2019-10-01 10:15] tanaytoshniwal commented on #417
I would like to work on this issue @sahilbansal17

[2019-10-01 11:57] KruZZy commented on #433
I have no problem with them contributing to that. I haven't got the chance to start working on it.

@sahilbansal17 @anirudnits @aayusharma10

[2019-10-01 13:43] sahilbansal17 commented on #417
@tanaytoshniwal Please check whether this is already implemented in this repository.

[2019-10-01 13:44] sahilbansal17 commented on #451
@tanaytoshniwal All these are one liner implementations, maybe create a single program with all these operations.

[2019-10-01 13:55] tanaytoshniwal commented on #417
@sahilbansal17 There's an implementation in C++, but the issue mentioned it clearly to implement it using Python.

[2019-10-01 13:57] sahilbansal17 commented on #417
Ok @tanaytoshniwal I will review your PR and merge it. 😄

[2019-10-01 13:57] #417 closed

[2019-10-01 13:57] #445 closed

[2019-10-01 13:57] #442 closed

[2019-10-01 13:58] #410 closed

[2019-10-01 13:58] #424 closed

[2019-10-01 13:58] #395 closed

[2019-10-01 14:48] anirudnits commented on #433
submitted the PR for _miller_rabin.py_ and _inversion_count.py_. Do have a look and let me know if there are any changes to be made. Thanks

[2019-10-01 17:28] DebadityaPal commented on #441
I would like to contribute to this repo

[2019-10-01 21:24] aayusharma10 commented on #433
Submitted the PR for Inversion_count.cpp. Please have a look at it and let me know if any changes required. Thanks

[2019-10-02 08:07] KruZZy commented on #433
All the problems on this issue has been solved. Congrats! I will close the issue now.

@sahilbansal17 @anirudnits @aayusharma10

[2019-10-02 08:07] #433 closed

[2019-10-02 08:20] KruZZy opened #467 "Sorting, DP, Backtracking & Greedy"
I would like to work on the following:
- [x] MergeSort (py)
- [ ] Matrix chain multiplication (cpp & py)
- [x] Egyptian fractions (cpp & py)
- [x] N Queens (cpp & py)
- [x]  Sudoku (py)

[2019-10-02 15:32] sahilbansal17 opened #471 "HacktoberFest Challenge Issue"
Hi friends, since many of you are starting to contribute for [Hacktoberfest](https://hacktoberfest.digitalocean.com).

To not disallow beginners to contribute to the project, this issue can be taken up by anyone starting to learn data structures and algorithms.

You need to start solving the problems in the Hackerrank's Tracks and add your solutions in the branch named **trackname** in a new folde

[2019-10-03 08:03] Ananyajain721 opened #478 "Knuth-Morris-Pratt,Sieve of Eratosthenes Algorithm in java"
I would like to work on this issue.

[2019-10-04 10:48] TheAlakazam commented on #441
Hey, I wanna contribute to this, so should I add a Matrix folder to the Data Structure folder?

[2019-10-04 11:01] TheAlakazam commented on #375
I want to work on this issue too.

[2019-10-04 11:40] sahilbansal17 commented on #441
@captainnemo89 Please confirm if you are still working on it.
@TheAlakazam It has been assigned to @captainnemo89 so let's wait for his response.

[2019-10-04 11:41] sahilbansal17 commented on #375
@TheAlakazam Sure, take up a few subtasks at a time!

[2019-10-05 07:26] Knightrv commented on #471
I am a newbie in open source and I would like to contribute.
I am planning to solve the Linked List section of hackerrank interview preparation kit.
May I?

[2019-10-05 07:37] sahilbansal17 commented on #471
Sure @Knightrv Follow the guidelines mentioned above.

[2019-10-06 07:46] anmolagarwal999 commented on #471
I am new to open source and want to contribute to this project.
Do I need to solve atleast 4 problems and upload their codes here for a valid pull request ?
Can I contribute to this project ?

[2019-10-06 08:28] sahilbansal17 commented on #471
Sure @anmolagarwal999
Please solve at least 4 problems in one pull request.

[2019-10-06 09:12] anmolagarwal999 commented on #471
Can I solve 4 problems on codeforces and then upload the code here ?

[2019-10-06 09:21] PKMAN630 opened #494 "Add AtCoder beginner contests solutions"
only two ABC problem sets have been uploaded till now

[2019-10-06 09:29] pratyanshupandey commented on #494
May I work on this issue?

[2019-10-06 09:42] pratyanshupandey commented on #441
Can I work on this issue?

[2019-10-07 07:00] harshraj22 opened #498 "Fork Badge Not Updating"
The fork badge in [README.md](https://github.com/sahilbansal17/Competitive_Coding/blob/master/README.md) is not getting updated automatically .

![Screenshot from 2019-10-07 12-25-55](https://user-images.githubusercontent.com/46635452/66290911-16996680-e8fe-11e9-87b4-fbd5a8db0323.png)

[2019-10-07 13:31] captainnemo89 commented on #441
sorry, will not be able to work on it.

[2019-10-07 14:44] sahilbansal17 commented on #498
@harshraj22 Can you please find the bug and update the README?

[2019-10-07 18:14] namanvats commented on #375
Can I take up this issue?

[2019-10-08 13:26] sahilbansal17 opened #504 "Plagiarism checker on Pull Requests"
This repository is getting a lot of PRs where the code is being copied from Geeksforgeeks or other platforms.

It would be nice if we can use some Plagiarism checker API or make a custom tool to see if the PR's code is copied from somewhere by checking some of the keywords along with the code.

For. eg. a code of **binary search** can be compared with similar codes on GFG, HackerEarth, etc. and a

[2019-10-08 18:39] harshraj22 commented on #498
The issue was created due to error from shield.io side and is expected to be sorted out soon. [Reference](https://github.com/badges/shields/issues/4149)

[2019-10-09 02:31] TheAlakazam commented on #441
@sahilbansal17 Can I work on this now?

[2019-10-09 03:06] sahilbansal17 commented on #441
Sure @TheAlakazam

[2019-10-09 18:16] soniaabhyankar commented on #471
Hey, can you create a branch for the track Problem Solving?

[2019-10-09 18:31] sahilbansal17 commented on #471
Sure @soniaabhyankar. Done!

[2019-10-10 08:35] harshraj22 commented on #498
Badge is updated. Closing issue.

[2019-10-10 08:35] #498 closed

[2019-10-10 18:40] PushpneetSingh opened #515 "HackerRank practice questions"
want to add some practice questions solved by me to the repo.

[2019-10-10 18:41] PushpneetSingh commented on #515
want to add some practice questions solved by me to the repo.

[2019-10-11 03:23] sahilbansal17 commented on #515
Refer to #471

[2019-10-11 03:23] #515 closed

[2019-10-12 12:52] MananJethwani commented on #370
can i submit solution for Graham Scan algorithm for Convex Hull in c++

[2019-10-12 13:23] puthusseri commented on #504
Could you please explain how can we implement this concept.

[2019-10-14 13:26] sahilbansal17 commented on #370
@MananJethwani Sure.

[2019-10-17 13:39] KruZZy opened #539 "Add OCT19B CodeChef solutions"
Add solutions to the OCT19B contest problems on CodeChef:

- [x] S10E
- [x] SAKTAN
- [x] MARM
- [ ] MSV
- [ ] EVEDG
- [ ] MSNG
- [ ] MAXLIS
- [ ] BACREP

[2019-10-19 05:04] TheAlakazam commented on #539
Can I work on this?

[2019-10-19 06:05] anuragpatro commented on #471
Hey, so this is my first time doing Hacktoberfest so I'm just confirming what I should do, I'll upload 4 files into 'Codechef' in the branch problem-solutions in the particular folder, mine being 'October Challenge 2019' and then send a pull request, that's it right?

[2019-10-19 06:11] sahilbansal17 commented on #539
Sure, Both of you @KruZZy and @TheAlakazam can work on it since there are many different problems in this contest.

[2019-10-19 06:13] sahilbansal17 commented on #471
No @anuragpatro This issue is for working on Hackerrank's trackwise problems and adding it in the corresponding branch. If you wish to contribute the October challenge problems, directly contribute in the master branch and send a PR.

[2019-10-21 14:11] #370 closed

[2019-10-21 17:10] sahilbansal17 commented on #504
@puthusseri I am also not completely sure about it. We need to see if there are any Open APIs related to this that can help.

[2019-10-27 04:37] harshraj22 commented on #504
[This](https://github.com/codeclassroom/PlagCheck) might help, though I am not sure how to automate this for pr (but for plagarisms we can have codes from popular websites stored locally rather than scrapping every time a pr is made and then checking for plagarism). let me know if you have some suggestions on how to automate this thing for pr. The issue seems very interesting and I want to work on

[2019-11-03 07:20] KruZZy opened #588 "DP, Greedy, Backtracking, Graphs"
I would like to work on the following:

- [ ] k-th Fibonacci number in O(log k)
- [ ] activity selection (py)
- [ ] knight's tour & hamiltonian path (backtracking & Warnsdorff's rule)
- [ ] bipartite graph check (py)
- [ ] Floyd-Warshall (py)

[2019-12-04 02:12] trommah opened #590 "BFS, DFS, Bellman-Ford, Floyd-Warshall"

[2020-01-01 18:01] #375 closed

[2020-01-01 18:01] #439 closed

[2020-01-01 18:01] #440 closed

[2020-01-01 18:01] #441 closed

[2020-01-01 18:01] #451 closed

[2020-01-01 18:02] #467 closed

[2020-01-01 18:02] #478 closed

[2020-01-01 18:02] #494 closed

[2020-01-01 18:02] #539 closed

[2020-01-01 18:02] #588 closed

[2020-01-01 18:03] #590 closed

[2020-02-02 13:48] KruZZy opened #592 "n-th Fibonacci number in O(log n), diameter of a tree & IDDFS"
Hello! I would like to work on the following:

- [x] computing the n-th Fibonacci number in O(log n)
- [x] diameter of a tree
- [x] iterative deepening depth first search (IDDFS)

Had some problems and couldn't contribute for a time, but I want to continue contributing.

[2020-02-02 15:30] sahilbansal17 commented on #592
Sure @KruZZy Sounds great.

[2020-02-03 14:16] harshraj22 opened #595 "solution to CLOPPAIR"
I would like to add my solution to spoj problem [CLOPPAIR](https://www.spoj.com/problems/CLOPPAIR/)

[2020-02-03 17:45] KruZZy commented on #592
Added all of the above.

[2020-02-03 17:45] #592 closed

[2020-02-03 18:00] #595 closed

[2020-02-08 19:06] KruZZy opened #598 "Graphs, trees, computational geometry"
I would like to work on the following:

- [x] dijkstra (py)
- [x] bipartite graph check (py)
- [ ] k-far (cpp & py)
- [x] orientation of 3 points (cpp & py)
- [x] area of a triangle (cpp & py)
- [ ] area of a convex polygon (cpp & py)

[2020-03-14 17:47] #598 closed

[2020-03-14 17:51] KruZZy opened #603 "Kruskal, cycle find"
I would like to work on the following:

- [x] Kruskal MST
- [x] Cycle detection using union-find

[2020-03-18 09:06] #603 closed

[2020-04-12 11:25] shravantal opened #606 "Another way of doing turn_on_ith_bit.cpp problem"
https://github.com/sahilbansal17/Competitive_Coding/blob/f4e86ba15340c56d312eac59ce299766d239c26a/Algorithms/BitMasking/Turn%20On%20ith%20bit/turn_on_ith_bit.cpp#L9

`n|(1<<i)`

[2020-06-04 12:55] #504 closed

[2020-06-04 12:55] #606 closed

[2020-06-04 12:55] #471 closed

[2020-08-13 11:46] harshraj22 opened #614 "Error in template"
https://github.com/sahilbansal17/Competitive_Coding/blob/1403a763003397ef2f41baac8a7d19f958f16f76/cpp/array_helper.cpp#L20

The last argument in `accumulate` (i.e. 0 in this case) should have same data type as that of array. So the following code fails (gives compilation error)
[code]

while the following passes
[code]

In template, we are accepting the type of elements that vector contains, but u

[2020-08-14 07:15] sahilbansal17 commented on #614
@harshraj22 Oh, got it, thanks for pointing this out, can you find a fix for this?

[2020-08-15 07:58] harshraj22 commented on #614
Somehow the template seems to be working, which I can't figure out why. Hence closing.

[2020-08-15 07:58] #614 closed

[2020-10-10 17:36] maityankan10 opened #627 "hacktoberfest"

[2020-10-10 17:36] #627 closed